/* Теги */
* {margin:0;padding:0}
html {min-width:920px}
body {background:#2f373a;font-family: 'Cuprum', arial, serif;font-size:100%;line-height:1em;color:#555;min-width:920px;border-top:10px solid #0c0e0e}
/*object {vertical-align:top;outline:none}*/
input, textarea, select {font-family: 'Cuprum', arial, serif;font-size:1.2em;vertical-align:middle;font-weight:normal}
fieldset {border:0}
p {margin:0;padding:0}
img {border:0;vertical-align:top;text-align:left}
ul, ol {list-style:none}

/* Глобальные теги */
#shadow {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0.5;
	z-index: 100;
}
#popupAch {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99;
}
#header, #content, #footer {font-size:1em;width:920px;margin:0 auto}
.col-1, .col-2 {float:left}

/* Выравнивание */
.fleft {float:left}
.fright {float:right}
.clear {clear:both}
.wrapper {width:100%;overflow:hidden}
.container {width:100%}
.tail-top {background:url(/images/tail-top.gif) 0 -60px repeat-x #fff}
.body-bg {background:url(/images/body-bg.jpg) no-repeat 50% -60px}
.tail-bottom {background:url(/images/tail-bottom.gif) left bottom repeat-x}
p {margin-bottom:20px;line-height:1.43em}
.p0 {margin-bottom:0}

/* Тексты, ссылки */
h1 { font-family: 'Cuprum', arial, serif; line-height: normal; }
a {color:#20b7c9;outline:none}
a:hover {text-decoration:none}
h3 {font-size:40px;line-height:1.2em;font-weight:normal;color:#000;letter-spacing:-2px;margin-bottom:12px}
h4 {font-size:31px;color:#000;letter-spacing:-2px;margin-bottom:16px}
/* Шапка */

#header {height:411px;background:url(/images/header-bg.jpg) no-repeat left bottom;position:relative;z-index:2}
#header .extra {position:absolute;right:-119px;top:45px}
#header .row-1 {height:50px;width:100%;overflow:hidden}
#header .row-1 .fright {padding:45px 15px 0 0}
#header .row-2 {height:68px}
#header .row-2 ul {width:100%;overflow:hidden;position:relative;z-index:2}
#header .row-2 ul li {float:left;text-transform:uppercase;margin-right:4px}
#header .row-2 ul li a {color:#fff;text-decoration:none;display:block;text-align:center;padding:28px 0 24px 0;background-repeat:no-repeat;background-position:0 0}

/* Кнопка */
#header .row-2 ul li.m1 a {width:89px;background:url(/images/m1.png)}
#header .row-2 ul li.m1 a:hover,
#header .row-2 ul li.m1 a.active {background:url(/images/m1-act.png)}

/* Кнопка */
#header .row-2 ul li.m2 a {width:95px;background:url(/images/m2.png)}
#header .row-2 ul li.m2 a:hover,
#header .row-2 ul li.m2 a.active {background:url(/images/m2-act.png)}

/* Кнопка */
#header .row-2 ul li.m3 a {width:117px;background:url(/images/m3.png)}
#header .row-2 ul li.m3 a:hover,
#header .row-2 ul li.m3 a.active {background:url(/images/m3-act.png)}

/* Кнопка */
#header .row-2 ul li.m4 a {width:114px;background:url(/images/m4.png)}
#header .row-2 ul li.m4 a:hover,
#header .row-2 ul li.m4 a.active {background:url(/images/m4-act.png)}

/* Кнопка */
#header .row-2 ul li.m5 a {width:123px;background:url(/images/m5.png)}
#header .row-2 ul li.m5 a:hover,
#header .row-2 ul li.m5 a.active {background:url(/images/m5-act.png)}

/* Кнопка */
#header .row-2 ul li.m6 a {width:105px;background:url(/images/m6.png)}
#header .row-2 ul li.m6 a:hover, #header .row-2 ul li.m6 a.active {background:url(/images/m6-act.png)}
#header .row-3 {padding:62px 0 0 77px}

/* Содержимое */
#pageCaption {
	color: white;
	font-size: 36px;
	position: absolute;
	z-index: 5;
}
.nocol #pageCaption {
	margin-left: 81px;
	margin-top: -92px;
}
.col-1 #pageCaption {
	margin-left: 46px;
	margin-top: -106px;
}
#content {background:url(/images/cont-tail.png) repeat-y left top;position:relative}
#content .col-1 {width:630px}
#content .col-2 {width:290px;padding:50px 0 170px 0}
#content .col-2 ul {padding:0 43px 0 41px}
#content .col-2 ul li {line-height:1.43em;padding-bottom:18px}
#content .col-2 ul li strong {display:block;font-size:.86em;padding-bottom:5px}
#content .col-2 ul li a {text-decoration:none}
#content .col-2 ul li a:hover {color:#000}
#content .nocol {
	min-height: 100px;
	padding-top: 20px;
	padding-left: 3px;
}
.inner_copy, .inner_copy a {border:0;float:right;background:#f00;color:#f00;width:35%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
#content .indent {padding:33px 33px 50px 37px}
#content .indent1 {padding-bottom:33px}
/* Футер */
#footer {height:110px;color:#fff}
#footer .extra{position:absolute;left:-10px;top:100}
#footer .indent {padding:47px 34px 0 37px}
#footer a {color:#fff;text-decoration:none}
#footer a:hover {text-decoration:underline}
#footer img {position:relative;top:-4px}
#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}
.diamond {
	width: 23px;
	height: 24px;
	position: absolute;
	margin: -35px 0 0 141px;
	border-radius: 15px 15px 10px 10px;
}

/* Банлист и прочее */
#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: 1050px;
	}
#back-top a {
	width: 40px;
	display: block;
	text-align: center;
	font: 9px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: underline;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	}
#back-top a:hover {
	color: #000;
	}
#back-top span {
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(/images/up-arrow.png) no-repeat center center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	}
#back-top a:hover span {
	background-color: #777;
}
#nav {
	height:40px;
	width: 500px;
	border-bottom:1px solid #ddd;
	position:fixed;
	top:0px;
	left: calc(50% - 460px);
	background:#fff /*url(gusland/images/nav.png) repeat center left*/;
	z-index: 10;
}
#nav ul {
	height:25px;
	list-style:none;
	margin:6px auto 0px auto;
	width:800px;
}
#nav ul li {
	display:inline-table;
	margin:0px 10px;
}
#nav ul li.banner {
	display:inline;
	float:right;
	margin:0px 6px;
}

/* Новости */
.newsTitle {
	font-family: 'Cuprum', arial, serif;
	/*margin: 30px;*/
}
.newsText {

}
.newsDate {
	float: right;
	margin: 0 10px 10px;
}
.newsSplit {

}
.pager {
	margin: 5px;
}
.page {
	display: inline-block;
	padding: 5px;
	margin: 5px;
}
a .page:hover {
	background-color: lightgrey;
}

#authPanel {
	float: right;
}
.modal {
	display: none;
	top: 0;
	left: calc(100% / 2 - 230px);
	position: fixed;
	width: 500px;
	margin: 100px auto;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	z-index: 101;
}

/* Личный кабинет */
.lk {
	margin-top: 20px;
}
.lk td, .lk th {
	padding: 5px;
	text-align: left;
}
.level {
	display: inline-block;
	height: 23px;
	width: 30px;
	border: 2px solid lime;
	border-radius: 15px;
	background-color: grey;
	color: white;
	padding-top: 7px;
	text-align: center;
}
.exp {
	display: inline-block;
}
.expBarEmpty {
	height: 10px;
	width: 200px;
	background-color: grey;
	border-radius: 3px;
}
.expBarFull {
	position: absolute;
	height: 10px;
	width: 15px;
	margin-top: -10px;
	background-color: lime;
	border-radius: 3px;
}
.balance {
	width: 200px;
	text-align: center;
}
#referralForm h2 {
	margin-bottom: 20px;
}
#referralForm label {
	font-weight: bold;
}
#referralForm * {
	margin: 5px;
}
#messageContainer {
	width: 430px;
	padding: 10px;
	border: 1px dotted grey;
}
#referralMessage {
	width: 420px;
	min-height: 100px;
	resize: vertical;
}
.privacyTitle {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	font-style: italic;
}

/* Достижения */
.achCompHeaderHis {
	width: 316px;
	float: left;
	margin-left: 100px;
	text-align: center;
	font-size: 20px;
}
.achCompHeaderYours {
	width: 316px;
	float: left;
	margin-left: 25px;
	text-align: center;
	font-size: 20px;
}
#achMainCont {
	margin-left: 100px;
}
#achMainCont .achievementStack, #achMainCont .achievementWrapper {
	float: left;
}
.achievementStack {
	width: 320px;
	min-height: 60px;
	margin: 10px auto;
}
.achievementWrapper {
	width: 316px;
	min-height: 60px;
	margin: 10px auto;
	border: 2px solid black;
	border-radius: 10px;
}
.achievementWrapper.improved {
	position: absolute;
}
.achievementWrapper.improved:hover {
	z-index: 6 !important;
}
.unclaimed { opacity: 0.5; }
.achievement {
	min-height: 50px;
	padding: 5px;
	border-radius: 8px;
	background-color: #212121;
}
.grade_0 { border: 4px solid #555; }
.grade_1 { border: 4px solid blueviolet; }
.grade_2 { border: 4px solid gold; }
.grade_3 { border: 4px solid #C3D9F6; }
.unclaimed .grade_3 { border: 4px solid red; }
.achTitle {
	margin: 10px 10px;
	color: gold;
	font-size: 16px;
}
.achDate {
	color: grey;
	float: right;
	font-size: 14px;
}
.achDesc {
	display: block;
	margin-right: 10px;
	color: white;
	font-size: 14px;
}
.achPowah {
	float: right;
	color: gold;
}
.achCount {
	float: right;
	color: grey;
}
.achProgress {
	padding: 10px;
	color: gold;
}
.achHolders {
	position: absolute;
	width: 198px;
	height: 62px;
	border: 1px solid grey;
	border-radius: 10px;
}
.achHoldersFill {
	height: 64px;
	width: 200px;
	margin: 10px 0 10px 10px;
	float: left;
	background-color: lightgrey;
	border-radius: 10px;
}
.achPercTitle {
	display: block;
	margin: 15px;
}

/* Список игроков */
#playerList {
	width: calc(100% - 300px);
	float: left;
}
#playerList td {
	padding: 5px;
	border: 1px solid grey;
}
.creator {
	/*font-weight: bold;*/
	font-size: 18px;
	color: red;
}
.admin { color: red; }
.smoder { color: orange; }
.moderator { color: goldenrod; }
.tester { color: #A5A500; }
.platinum { color: yellowgreen; }
.goldvip { color: #00AA00; }
.vip { color: #00C49D; }
.verified { color: #20b7c9; }
.hiddenUser { color: grey; }
.legend {
	float: left;
	padding: 15px;
}
.legend p {
	margin-bottom: 5px;
}