/* Шрифты */
@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 400;
	src: local('Cuprum'), local('Cuprum-Regular'), url(/includes/Cuprum.woff) format('woff');
}

/* Теги */
* { margin: 0; padding: 0; }
html { min-width: 920px; }
body {
	/*background: #2f373a;*/
	font-family: 'Cuprum', arial, serif;
	color: #555;
	min-width:920px;
}
/*object {vertical-align:top;outline:none}*/
input, textarea, select {
	font-family: 'Cuprum', arial, serif;
	font-size: 1.2em;
	vertical-align: middle;
	font-weight: normal;
}
fieldset { border: 0 }
img {
	border: 0;
	vertical-align: top;
	text-align: left;
}
ul, ol { list-style: none }

/* Глобальные теги */
#vkSlider {
	position: fixed;
	left: calc(100% - 34px);
	top: 50px;
	width: 324px;
	height: 330px;
	z-index: 99;
}
.vkHead {
	width: 22px;
	height: 318px;
	padding: 6px;
	float: left;
	background-color: #5B7FA6;
	cursor: pointer;
}
#vkTitle {
	width: 150px;
	margin-top: 150px;
	padding-top:2px;
	transform-origin: left top;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: white;
}
#vkArrow {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#vk_groups {
	float: left;
}
#shadow {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0.5;
	z-index: 100;
}
#popupAch {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99;
}
#header, #content, #footer {
	width: 920px;
	margin: 0 auto;
}

/* Выравнивание */
.fleft { float:left }
.fright { float:right }
.clear {clear:both}
.wrapper {width:100%;overflow:hidden}
.container {width:100%}
/*.tail-top {background:url(/images/tail-top.gif) 0 -60px repeat-x #fff}*/
/*.body-bg {background:url(/images/body-bg.jpg) no-repeat}*/
.tail-bottom {background:url(/images/tail-bottom.gif) left bottom repeat-x}
p { margin-bottom:20px; }
.p0 { margin-bottom:0 }

/* Тексты, ссылки */
h1 {
	font-family: 'Cuprum', arial, serif;
	line-height: normal;
}
h2 { line-height: normal; }
a {
	color: #20b7c9;
	outline: none
}
a:hover { text-decoration: none }
h3 {
	font-size: 40px;
	line-height:1.2em;
	font-weight:normal;
	color:#000;
	margin-bottom:12px;
}
h4 {
	font-size:31px;
	color:#000;
	margin-bottom:16px
}

/* Шапка */
#headBG {
	background-color: #2f373a;
	height: 220px;
	margin-bottom: 60px;
}
#header {
	height: 280px;
	background: url(/images/header-bg.jpg) no-repeat 0 90px;
	position: relative;
}
#header .extra {
	position:absolute;
	right:-40px;
	top:45px;
}
#header .row-1 {
	height: 50px;
	width: 100%;
}
#header .row-1 .fright { padding: 45px 15px 0 0; }
#header .row-2 ul.menu {
	width: 100%;
	position: absolute;
	z-index: 2;
}
#header .row-2 ul.menu > li {
	float: left;
	margin-right: 4px;
	overflow: visible;
}
#header .row-2 ul.menu > li a { color: white; }
#header .row-2 ul.menu > li span { color: lightgrey; }
#header .row-2 ul.menu > li a, #header .row-2 ul.menu > li span {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 10px 0;
}
#header .row-2 ul.submenu {
	display: none;
}
#header .row-2 li:hover ul.submenu {
	display: block;
}
#header .row-2 ul.submenu li:hover a {
	color: yellow;
}

/* Кнопки */
#header .row-2 ul.menu > li {
	padding: 0 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: rgba(0, 0, 0, 0.5);
}
#header .row-2 ul.menu > li:hover { background:url(/images/header_tabs_bg.png) repeat-y; }
#header .row-3 {
	position: absolute;
	margin: 80px;
	opacity: 0.8;
	text-shadow: -2px -2px 3px #555;
}
#slogan {
	color: white;
	font-size: 36px;
	font-weight: bold;
}

/* Содержимое */
#pageCaption {
	color: white;
	font-size: 36px;
	position: absolute;
	margin-left: 65px;
	margin-top: -52px;
}
#content {
	background:url(/images/cont-tail.png) repeat-y left top;
	position: relative;
}
/*.inner_copy, .inner_copy a {
	border: 0;
	float: right;
	background: #f00;
	color:#f00; width:35%;
	line-height: 10px;
	font-size: 10px;
	margin: -220% 0 0 0;
	overflow: hidden;
	padding:0
}
#content .inner_copy {
	border: 0;
	color: #f00;
	float: left;
	width: 50%!important;
	margin: -202px 0 0 0;
	overflow: hidden;
	line-height: 0;
	padding: 0;
	font-size: 12px;
}*/
#content .indent { padding: 33px 33px 50px 37px; }
#content .indent1 { padding-bottom: 33px; }

/* Футер */
#footBG { background-color: #2f373a; }
#footer {
	height:110px;
	color:#fff;
}
#footer .extra{
	position: absolute;
	left: -10px;
	top: 100;
}
#footer .indent { padding: 10px 30px; }
#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover { text-decoration: underline; }
#footer img {
	position: relative;
	top: -4px
}
#footer .menu {
	margin-left: 20px;
}
#footer .menu li {
	display: inline-block;
	margin: 10px;
}
#footer .menu a {
	color: grey;
}
.diamond {
	width: 23px;
	height: 24px;
	position: absolute;
	margin: -35px 0 0 141px;
	border-radius: 15px 15px 10px 10px;
}

/* Банлист и прочее */
#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: 1050px;
	}
#back-top a {
	width: 40px;
	display: block;
	text-align: center;
	font: 9px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: underline;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	}
#back-top a:hover {
	color: #000;
	}
#back-top span {
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(/images/up-arrow.png) no-repeat center center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	}
#back-top a:hover span {
	background-color: #777;
}
#nav {
	height:40px;
	width: 920px;
	position:fixed;
	top:0px;
	left: calc(50% - 460px);
	background:#fff url(/images/nav.png) repeat-x;
	z-index: 10;
	line-height: 1em;
}
#nav ul {
	height:25px;
	list-style:none;
	margin:6px auto 0px auto;
}
#nav ul li {
	display:inline-table;
	margin:0px 10px;
}
#nav ul li.banner {
	display:inline;
	float:right;
	margin:0px 6px;
}
#nav ul li.ratings {
	height: 100%;
	float: right;
	padding-top: 5px;
}
#nav ul li.ratings .ratebanners {
	display: none;
	position: absolute;
	margin: 0 0 0 -10px;
	padding: 5px;
	background-color: #ddd;
}
#nav ul li.ratings:hover .ratebanners { display: block; }
#nav ul li.ratings .ratebanners > div {
	margin-top: 10px;
	height: 31px;
	width: 88;
}
#nav ul li.authLI {
	float: right;
	padding-top:5px;
}
.online {
	display: none;
	position: absolute;
	margin-top: 2px;
	margin-left: -10px;
	padding: 5px;
	background-color: white;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	cursor: default;
}
.servers li:hover .online { display: block; }
.online .player { color: black; }
.online .time { font-size: 10px; }
.online .group { margin: 5px 0 2px 0; }
.online .hidden { color: red; }
#banlist th { text-align: left; }

/* Новости */
.newsTitle {
	font-family: 'Cuprum', arial, serif;
	/*margin: 30px;*/
}
.newsText {

}
.newsDate {
	float: right;
	margin: 0 10px 10px;
}
.newsSplit {

}
.pager {
	margin: 5px;
}
.page {
	display: inline-block;
	padding: 5px;
	margin: 5px;
}
a .page:hover {
	background-color: lightgrey;
}

.modal {
	display: none;
	top: 0;
	left: calc(100% / 2 - 330px);
	position: fixed;
	width: 700px;
	margin: 100px auto;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	z-index: 101;
}

#authPanel {
	float: right;
}
#w2v_vote_banner {
	display:inline-block;
	width:88px;
	height:31px;
}

/* Личный кабинет */
ul.tabs { border-bottom: 1px solid grey; }
ul.tabs li {
	margin-bottom: -1px;
	cursor: pointer;
	border-bottom: 1px solid grey;
}
ul.tabs li:hover { background-color: #eee; }
ul.tabs li.active {
	border-top: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid white;
	border-left: 1px solid grey;
}
ul.tabs li {
	display: inline-block;
	padding: 10px;
}
.tabContent { display: none; }
.lk {
	margin-top: 20px;
}
.lk td, .lk th {
	padding: 5px;
	text-align: left;
}
.level {
	display: inline-block;
	height: 23px;
	width: 30px;
	border: 2px solid lime;
	border-radius: 15px;
	background-color: grey;
	color: white;
	padding-top: 7px;
	text-align: center;
}
.exp {
	display: inline-block;
}
.expBarEmpty {
	height: 10px;
	width: 200px;
	background-color: grey;
	border-radius: 3px;
}
.expBarFull {
	position: absolute;
	height: 10px;
	width: 15px;
	margin-top: -10px;
	background-color: lime;
	border-radius: 3px;
}
#prefixConstructor { display: none; }
.palitre { margin: 10px 0 0 0; }
.palitre div {
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid grey;
	cursor: pointer;
}
.palitre .color[data-name="black"] { background-color: #000; }
.palitre .color[data-name="darkblue"] { background-color: #00a; }
.palitre .color[data-name="darkgreen"] { background-color: #0a0; }
.palitre .color[data-name="teal"] { background-color: #0aa; }
.palitre .color[data-name="darkred"] { background-color: #a00; }
.palitre .color[data-name="purple"] { background-color: #a0a; }
.palitre .color[data-name="gold"] { background-color: #fa0; }
.palitre .color[data-name="gray"] { background-color: #aaa; }
.palitre .color[data-name="darkgray"] { background-color: #555; }
.palitre .color[data-name="blue"] { background-color: #55f; }
.palitre .color[data-name="brightgreen"] { background-color: #5f5; }
.palitre .color[data-name="aqua"] { background-color: #5ff; }
.palitre .color[data-name="red"] { background-color: #f55; }
.palitre .color[data-name="pink"] { background-color: #FE54FE; }
.palitre .color[data-name="yellow"] { background-color: #ff5; }
.palitre .color[data-name="white"] { background-color: #fff; }
.palitre .color.active { border: 3px solid #5B7FA6; }
#parsedPrefix {
	background: url(/images/prefix_bg.png) no-repeat;
	font-family: Tahoma;
	text-shadow: 1px 1px 0 black;
	padding: 5px;
}
#parsedPrefix div {
	padding: 3px 0 5px 3px;
	background: rgba(0, 0, 0, 0.5)
}
#savePrefix {
	display: none;
}
.balance {
	width: 200px;
	text-align: center;
}
#referralForm h2 {
	margin-bottom: 20px;
}
#referralForm label {
	font-weight: bold;
}
#referralForm * {
	margin: 5px;
}
#messageContainer {
	width: 430px;
	padding: 10px;
	border: 1px dotted grey;
}
#referralMessage {
	width: 420px;
	min-height: 100px;
	resize: vertical;
}
.privacyTitle {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	font-style: italic;
}
.orderList {
	padding: 2px;
	font-family: Tahoma;
	font-size: 12px;
	border: 1px solid grey;
}
.orderList th, .orderList td {
	padding: 5px;
}
.orderList .orderID {
	width: 50px;
	text-align: center;
}
.orderList .orderDate { width: 130px; }
.orderList .orderIzum { width: 100px; }
.orderList .orderCost { width: 90px; }
.orderList .orderStatus { width: 130px; }
.orderList .orderAction { width: 170px; }
.orderList form { display: inline-block; }

/* Достижения */
.achCompHeaderHis {
	width: 316px;
	float: left;
	margin-left: 100px;
	text-align: center;
	font-size: 20px;
}
.achCompHeaderYours {
	width: 316px;
	float: left;
	margin-left: 25px;
	text-align: center;
	font-size: 20px;
}
#achMainCont {
	margin-left: 100px;
}
#achMainCont .achievementStack, #achMainCont .achievementWrapper {
	float: left;
}
.achievementStack {
	width: 320px;
	min-height: 60px;
	margin: 10px auto;
}
.achievementWrapper {
	width: 316px;
	min-height: 60px;
	margin: 10px auto;
	border: 2px solid black;
	border-radius: 10px;
}
.achievementWrapper.improved {
	position: absolute;
}
.achievementWrapper.improved:hover {
	z-index: 6 !important;
}
.achPlaceholder {
	opacity: 0;
	border: 2px solid black;
}
.unclaimed { opacity: 0.5; }
.achievement {
	min-height: 50px;
	padding: 5px;
	border-radius: 8px;
	background-color: #212121;
}
.grade_0 { border: 4px solid #555; }
.grade_1 { border: 4px solid blueviolet; }
.grade_2 { border: 4px solid gold; }
.grade_3 { border: 4px solid #C3D9F6; }
.unclaimed .grade_3 { border: 4px solid red; }
.achTitle {
	margin: 10px 10px;
	color: gold;
	font-size: 16px;
}
.achDate {
	color: grey;
	float: right;
	font-size: 14px;
}
.achDesc {
	display: block;
	margin-right: 10px;
	color: white;
	font-size: 14px;
}
.achPowah {
	float: right;
	color: gold;
}
.achCount {
	float: right;
	color: grey;
}
.achProgress {
	padding: 10px;
	color: gold;
}
.achHolders {
	position: absolute;
	width: 198px;
	height: 62px;
	border: 1px solid grey;
	border-radius: 10px;
}
.achHoldersFill {
	height: 64px;
	width: 200px;
	margin: 10px 0 10px 25px;
	float: left;
	background-color: lightgrey;
	border-radius: 10px;
}
.achPercTitle {
	display: block;
	margin: 15px;
}

/* Список игроков */
#playerList {
	width: calc(100% - 300px);
	float: left;
}
#playerList td {
	padding: 5px;
	border: 1px solid grey;
}
.creator {
	/*font-weight: bold;*/
	font-size: 18px;
	color: #a00;
}
.admin { color: #f00; }
.smoder { color: #f80; }
.moderator { color: orange; }
.jmoder { color: goldenrod; }
.tester { color: #DACA20; }
.platinum { color: yellowgreen; }
.goldvip { font-weight: bold; color: #00AA00; }
.vip { color: #1DAA1D; }
.verified { color: #20b7c9; }
.hiddenUser { color: grey; }
.legend {
	float: left;
	padding: 15px;
}
.legend p {
	margin-bottom: 5px;
}

/* Донат */
.bonus {
	display: none;
	padding: 5px;
	color: green;
	border: 1px solid green;
}
#izumDiscount, #goodDiscount {
	margin: 5px 0;
	padding: 5px;
	border: 1px solid grey;
}
#donutTable {
	width: 100%;
	border-collapse: collapse;
}
#donutTable th, #donutTable td {
	padding: 5px;
	text-align: left;
}
#donutTable .item:nth-child(odd) {
	background-color: #eee;
}
#donutTable .item:nth-child(even) {
	background-color: white;
}
#donutTable .group { background-color: #ddf; }
#cheque {
	padding: 5px;
	border: 1px solid black;
	background-color: white;
}
#cheque th, #cheque td {
	padding: 10px 5px;
	text-align: left;
	font-family: Tahoma;
	font-size: 18px;
	font-weight: normal;
}
#cheque th {
	border-right: 1px dashed #bbb;
}
.descTable { width: 100%; }
.descTable td {
	padding: 3px;
	border: 1px solid grey;
}
.descTable .yes, .descTable .no, .descTable .neutral { text-align: center; }
.descTable .yes { color: green; }
.descTable .no { color: red; }

/* Контакты */
.admintable th, .admintable td {
	padding: 5px;
	border: 1px solid grey;
}
.skypeButton {
	display: inline-block;
	height: 20px;
	padding: 7px 5px 3px 35px;
	background: url(/images/skype_logo.png) no-repeat;
	border: 1px solid #0089CF;
	border-radius: 10px;
}

/* Топы голосующих */
.topVoteTable {
	/*width: 100%;*/
}
.topVoteTable th, .topVoteTable td {
	padding: 5px;
}