<h1 id="pageCaption">Обзор достижений</h1>
<?
if (isset($_GET['compare']) && !$nouser) {
	$his = $user->getInfo($_GET['compare']);
	echo '
		<div>
			<div class="achCompHeaderHis">Достижения игрока ' . $his['nick'] . '</div>
			<div class="achCompHeaderYours">Ваши достижения</div>
			<div class="clear"></div>
		</div>';
}
?>
<div id="achMainCont">
	<?
	foreach ($achievs as $ach) {
		echo '<div>';

		if ($nouser) echo $a->getHTML($ach);

		else {

			if (isset($_GET['compare'])) echo $a->getHTML($ach, $_GET['compare']) . '<div style="width: 25px; height: 1px; float: left"></div>';
			echo $a->getHTML($ach, $cid);
		}

		if (!isset($_GET['compare']) || !isset($cid)) echo '
			<div class="achHoldersFill" style="width: ' . $ach['perc'] * 2 . 'px;">
				<div class="achHolders">
					<span class="achPercTitle">' . $ach['perc'] . '% игроков получили это достижение</span>
				</div>
			</div>';
		echo '<div class="clear"></div></div>';
	}
	?>
</div>