<? echo '<h1>' . $registered . '</h1>';

	 if ($action == 'reg' && $registered != 'Регистрация прошла успешно') { ?>
	<form method="POST">

		<!-- Форма регистрации -->
		<input type="text" name="email" placeholder="E-Mail">
		<input type="text" name="nick" placeholder="Nickname">
		<input type="password" name="pw" placeholder="Password">
		<!-- <input type="password" name="repw" placeholder="Retype password"> -->
		<!-- <input type="text" name="steamid" placeholder="Steam ID"> -->
		<input type="submit" name="reg" value="Proceed">
	</form>
	<p>Обратите внимание, в никах разрешается использовать только буквы латинского алфавита, цифры, тире, подчеркивания.<br/>
			Никаких скобочек, треугольничков, звездочек, точек, пробелов, кавычек, никаких дурацких ASCII-символов.<br/>
			При этом Ник должен начинаться обязательно с цифры или буквы.<br/>
			Также ник и почтовый ящик не должны повторять или имитировать никнеймы и почтовые ящики администрации (красные в списке пользователей), ассоциироваться с администрацией и руководством проекта. За нарушение этого правила аккаунт будет торжественно заблокирован навечно.</p>

<? } else if ($registered == 'Регистрация прошла успешно') { ?>
	<h4><?=$message?></h4>
	<span>Страница будет перезагружена, если уже вечереет, но этого не произошло, ткните <a href="/auth?action=log">сюда</a></span>
	<meta http-equiv="refresh" content="3; url=/auth?action=log">

<? } else if ($action == 'log') { ?>
	<form method="POST">

		<!-- Форма авторизации -->
		<input type="text" name="login" placeholder="E-Mail or Nickname">
		<input type="password" name="pw" placeholder="Password">
		<input type="submit" name="reg" value="Login">
	</form>

<? } else if ($action == 'off') { ?>
	<span>Разлогиниваемся, ждите.</span>

<? } else { ?>
<!-- Это для всяких разных штук типа смены пароля и привязки/отвязки Steam -->
<h4><?=$message?></h4>
<span>Страница будет перезагружена, если этого не произошло, ткните <a href="/lk">сюда</a></span>
<meta http-equiv="refresh" content="3; url=/lk">
<? } ?>