<? echo $output;

	 if ($action == 'reg' && !$registered) { ?>
	<form method="POST">

		<!-- Форма регистрации -->
		<input type="text" name="email" placeholder="E-Mail">
		<input type="text" name="nick" placeholder="Nickname">
		<input type="password" name="pw" placeholder="Password">
		<!-- <input type="password" name="repw" placeholder="Retype password"> -->
		<!-- <input type="text" name="steamid" placeholder="Steam ID"> -->
		<input type="submit" name="reg" value="Proceed">
	</form>
	<p>Обратите внимание, в никах разрешается использовать только буквы латинского алфавита, цифры, тире, подчеркивания.<br/>
			Никаких скобочек, треугольничков, звездочек, точек, пробелов, кавычек, никаких дурацких ASCII-символов.<br/>
			При этом Ник должен начинаться обязательно с цифры или буквы и его длина должна составлять 3 и более символов.<br/>
			Почтовый ящик должен быть персонализирован, то есть, быть вашим личным. Ящики систем типа mailinator не регистрируются.<br/>
			Также ник и почтовый ящик не должны повторять или имитировать никнеймы и почтовые ящики администрации (красные в списке пользователей), ассоциироваться с администрацией и руководством проекта. За нарушение этого правила аккаунт будет торжественно заблокирован навечно.</p>

<? } else if (($action == 'sitenick' || $action == 'mcnick') && $registered) { ?>
	<p>Ваш текущий ник: <b><?=$user->info[$what]?></b></p>
	<form method="POST">
		<input type="text" name="newnick" placeholder="Новый ник" required>
		<input type="submit" value="Изменить">
	</form>
	<p>Обратите внимание, в никах разрешается использовать только буквы латинского алфавита, цифры, тире, подчеркивания.<br/>
			Никаких скобочек, треугольничков, звездочек, точек, пробелов, кавычек, никаких дурацких ASCII-символов.<br/>
			При этом Ник должен начинаться обязательно с цифры или буквы и его длина должна составлять 3 и более символов.<br/>
			Также ник и почтовый ящик не должны повторять или имитировать никнеймы и почтовые ящики администрации (красные в списке пользователей), ассоциироваться с администрацией и руководством проекта. За нарушение этого правила аккаунт будет торжественно заблокирован навечно.<br/>
			Вы можете сменить ник на тот же, что у вас сейчас установлен, но тогда токен все равно у вас отберут.</p>

<? } else if ($registered) { ?>
	<!-- <h4><?=$message?></h4> -->
	
<? } else if ($action == 'log' && !$registered) { ?>
	<form method="POST">

		<!-- Форма авторизации -->
		<input type="text" name="login" placeholder="E-Mail or Nickname">
		<input type="password" name="pw" placeholder="Password">
		<input type="submit" name="reg" value="Login">
	</form>
	<p><a href="/auth?action=reset">Забыл свой пароль</a></p>

<? } else if ($action == 'off') { ?>
	<span>Разлогиниваемся, ждите.</span>

<? } else { ?>
<!-- Это для всяких разных штук типа смены пароля и привязки/отвязки Steam -->
<h4><?=$message?></h4>

<? } ?>

<? if ($location != '') { ?>
	<span>Страница будет перезагружена, если уже вечереет, но этого не произошло, ткните <a href="<?=$location?>">сюда</a></span>
	<meta http-equiv="refresh" content="0; url=<?=$location?>">
<? } ?>