<h1 id="pageCaption">Контакты</h1>

<p>
	Контактные данные нашего проекта и администрации.<br/>
	Если у вас есть вопросы, проблемы или идеи, прежде чем писать лично администраторам, зайдите на форум и в группу, скорей всего там есть ответы на ваши вопросы, а также специальные разделы для идей и вопросов.<br/>
	Список администраторов приведен для того, чтобы другие игроки не пытались выдать себя за кого-то из руководящего состава.
</p>

<h2>Социальные сети</h2>
<a href="http://vk.com/elysiumgame">Группа ВКонтакте</a><br/>
<br/>
<h2>Электронная почта</h2>
<a href="mailto:support@elysiumgame.ru">support@elysiumgame.ru</a><br/>
<br/>
<h2>Прочее</h2>
<a href="http://forum.elysiumgame.ru/index.php/forum/22-otchety-o-bagakh/" target="blank">Багодельня</a><br/>
<a href="http://forum.elysiumgame.ru/index.php/forum/18-zhaloby-zaiavki/" target="blank">Жалобница</a><br/>
<a href="http://forum.elysiumgame.ru/index.php/topic/54-otvety-razrabotchikov-na-voprosy-igrokov/" target="blank">Вопросница</a><br/>
<a href="http://forum.elysiumgame.ru/index.php?/topic/33-faq-ili-chasto-zadavaemye-voprosy/" target="blank">FAQ</a><br/>
<br/>
<h2>Список администраторов проекта</h2>
<table class="admintable">
	<tr>
		<th>Должность</th>
		<th>Точный ник (без префикса)</th>
		<th>Сфера деятельности</th>
		<th>Контакты</th>
	</tr>
	<tr>
		<td>Главный администратор</td>
		<td>Zaidik</td>
		<td>Связь с общественностью</td>
		<td>
			<a href="http://forum.elysiumgame.ru/index.php/user/279-zaidik/" target="blank"><img src="/images/forum_logo_mini.png"></a>
			<a href="http://vk.com/id267497911" target="blank"><img src="/images/vk_logo_new.png" height="30"></a>
			<br/><a href="mailto:eduard-shkoda@mail.ru">eduard-shkoda@mail.ru</a>
		</td>
	</tr>
	<tr>
		<td>Администратор</td>
		<td>Ice_Haron</td>
		<td></td>
		<td>
			<a href="http://forum.elysiumgame.ru/index.php/user/2-ice-haron/" target="blank"><img src="/images/forum_logo_mini.png"></a>
			<a href="http://vk.com/ice_haron" target="blank"><img src="/images/vk_logo_new.png" height="30"></a>
		</td>
	</tr>
	<tr>
		<td>Администратор</td>
		<td>Krein</td>
		<td></td>
		<td>
			<a href="http://forum.elysiumgame.ru/index.php/user/41-krein/" target="blank"><img src="/images/forum_logo_mini.png"></a>
			<a href="skype:krein-?userinfo"><div class="skypeButton">krein-</div></a>
		</td>
	</tr>
	<tr>
		<td>Администратор</td>
		<td>Scorpi</td>
		<td></td>
		<td>
			<a href="http://forum.elysiumgame.ru/index.php/user/1-scorpi/" target="blank"><img src="/images/forum_logo_mini.png"></a>
		</td>
	</tr>
	<tr>
		<td>Администратор</td>
		<td>SHiKaRo</td>
		<td></td>
		<td>
			<a href="http://forum.elysiumgame.ru/index.php/user/17-shikaro/" target="blank"><img src="/images/forum_logo_mini.png"></a>
			<a href="skype:qponap?userinfo"><div class="skypeButton">qponap</div></a>
		</td>
	</tr>
	<tr>
		<td>Администратор</td>
		<td>SnoopAK</td>
		<td></td>
		<td>
			<a href="http://forum.elysiumgame.ru/index.php/user/27-snoopak/" target="blank"><img src="/images/forum_logo_mini.png"></a>
			<a href="skype:snoopykaz?userinfo"><div class="skypeButton">snoopykaz</div></a>
		</td>
	</tr>
	<tr>
		<td>Модератор</td>
		<td>DeathMetal</td>
		<td></td>
		<td>
			<a href="http://forum.elysiumgame.ru/index.php/user/94-deathmetal/" target="blank"><img src="/images/forum_logo_mini.png"></a>
		</td>
	</tr>
<!-- 	<tr>
		<td>Технический администратор</td>
		<td>Ice_Haron</td>
		<td>Web (сайт и форум)</td>
		<td><a href="http://vk.com/ice_haron">http://vk.com/ice_haron</a></td>
	</tr>
	<tr>
		<td>Технический администратор</td>
		<td>genk0</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Технический администратор</td>
		<td>Krein</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Технический администратор</td>
		<td>DeathMetal</td>
		<td></td>
		<td></td>
	</tr>
 --></table>