<h1 id="pageCaption">Описание серверов</h1>
&nbsp;
<h2>Сервер Kernel</h2>
&nbsp;
<p class="p0">&middot; Классический сервер для постройки Ваших домов, ферм, городов и грандиозных сооружений.</p>
&nbsp;
<p class="p0">&middot; Классический сервер с некоторой изюминкой для постройки Ваших домов, ферм, городов и грандиозных сооружений.</p>
&nbsp;
<p class="p0">&middot; Необычный игровой мир, имеющий размеры 3000х3000 блоков. Простор для Ваших фантазий.</p>
&nbsp;
<p class="p0">&middot; Огромное количество полезных и оптимизированных плагинов сделают Вашу игру максимально комфортной, а также сведет количество багов и сбоев к минимуму.</p>
&nbsp;
<p class="p0">&middot; Присутствуют плагины защиты территории – гриферы не смогут помешать Вам и украсть ваше честно нажитое добро.</p>
&nbsp;
<p class="p0">&middot; На сервере создана прекрасная экономика. Имеется игровая валюта, с помощью который вы сможете покупать вещи в магазинах. Постройте магазин или торговый центр – создайте собственную монополию, задавайте свои цены и конкурируйте с другими.</p>
&nbsp;
<p class="p0">&middot; Эксклюзивные эвенты, созданные нашей командой, будут доставлять Вам массу впечатлений и немало призов.</p>
&nbsp;
<p class="p0">&middot; Режим PvP работает только на арене.</p>
&nbsp;
<p class="p0">&middot; Полностью рабочие Ад и End.</p>
&nbsp;
<p></p>
<h2>Сервер BackTrack</h2>
&nbsp;
<p class="p0">&middot; Мод IndustrialCraft&sup2; в сочетании с RedPower.</p>
&nbsp;
<p class="p0">&middot; Грамотно настроенные и "переписанные" плагины сделают Вашу игру комфортной - долой баги.</p>
&nbsp;
<p class="p0">&middot; У вас есть возможность построить огромные атомные электростанции, основать техногенный город и создать уникальные лаборатории.</p>
&nbsp;
<p class="p0">&middot; Невероятные рецепты крафта специально от нашего проекта компенсируют отсутствие Ада!</p>
&nbsp;
<p class="p0">&middot; Возможность создать свою торговую империю: продавайте электричество, энергию, металлы и руды.</p>
&nbsp;
<p class="p0">&middot; На сервере включен режим PvP.</p>
&nbsp;
<p class="p0">&middot; Совершайте набеги на деревни и города - грабьте и убивайте!</p>
&nbsp;
<p></p>
<h2>Сервер Gentoo</h2>
&nbsp;
<p class="p0">&middot; Это PvP сервер в сочетании с плагинами, придающими реалистичность игре.</p>
&nbsp;
<p class="p0">&middot; Особая система Сверхестественных персонажей придаст игре особую незабываемость.</p>
&nbsp;
<p class="p0">&middot; Возможность стать лидером расы и повести за собой целые армии вимпиров или ангелов!</p>
&nbsp;
<p class="p0">&middot; Защита новичков от убийства в первые 10 минут игры - вы успеете спрятаться и подготовиться к суровым реалиям мира Gentoo.</p>
&nbsp;
<p class="p0">&middot; Создайте свой неприступный клановый замок, сделай других персонажей своими рабами!</p>
&nbsp;
<p class="p0">&middot; Совершайте рейды на вражеские поселения - грабьте и убивайте!</p>
