<h1 id="pageCaption">Описание серверов</h1>
&nbsp;
<h2>Сервер Kernel</h2>
&nbsp;
<p class="p0">&middot; Классический сервер с некоторой изюминкой для постройки Ваших домов, ферм, городов и грандиозных сооружений.</p>
&nbsp;
<p class="p0">&middot; Необычный игровой мир, имеющий размеры 6000х6000. Простор для Ваших фантазий.</p>
&nbsp;
<p class="p0">&middot; Огромное количество полезных и оптимизированных плагинов сделают Вашу игру максимально комфортной, а также сведет количество багов и сбоев к минимуму.</p>
&nbsp;
<p class="p0">&middot; Присутствуют плагины защиты территории – гриферы не смогут помешать Вам и украсть ваше честно нажитое добро.</p>
&nbsp;
<p class="p0">&middot; На сервере создана прекрасная экономика. Имеется игровая валюта, с помощью который вы сможете покупать вещи в магазинах. Постройте магазин или торговый центр – создайте собственную монополию, задавайте свои цены и конкурируйте с другими.</p>
&nbsp;
<p class="p0">&middot; Эксклюзивные эвенты, созданные нашей командой, будут доставлять Вам массу впечатлений и немало призов.</p>
&nbsp;
<p class="p0">&middot; Режим PvP работает только на арене.</p>
&nbsp;
<p class="p0">&middot; Полностью рабочие Ад и End.</p>
&nbsp;
<p></p>
<h2>Сервер BackTrack</h2>
&nbsp;
<p class="p0">&middot; В разработке.</p>
&nbsp;
<p></p>
<h2>Сервер Gentoo</h2>
&nbsp;
<p class="p0">&middot; В разработке.</p>
