<h3>Пожертвования</h3>
<h3>VIP - 200р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Резервный слот на сервере. Вы всегда сможете зайти.</p>
<p class="p0">&middot; Возможность телепортации по нику (/tp , на BackTrack /tpa ).</p>
<p class="p0">&middot; Префикс в игре [VIP].</p>
<p class="p0">&middot; Доступ в Elite World.</p>
<p class="p0">&middot; Префикс на форуме [VIP] (по отдельной просьбе).</p>
<p class="p0">&middot; 10 регионов для привата по 250000 блоков.</p>
<p class="p0">&middot; Возможность писать цветным текстом.</p>
<p></p>
<p></p>
<h3>VIP - 250р | Месяц (Сервер Gentoo)</h3>
&nbsp;
<p class="p0">&middot; Резервный слот на сервере. Вы всегда сможете зайти.</p>
<p class="p0">&middot; Возможность превращаться в какое-либо животное или моба (зомби, корова, крипер).</p>
<p class="p0">&middot; Префикс в игре [VIP].</p>
<p class="p0">&middot; Увеличенный прирост мощи при убийстве игроков.</p>
<p class="p0">&middot; Возможность приручать более 50 волков сразу!</p>
<p class="p0">&middot; Возможность стать лидером какого-либо класса сверхестественных людей.</p>
<p class="p0">&middot; Префикс на форуме [VIP] (по отдельной просьбе).</p>
<p class="p0">&middot; Возможность писать цветным текстом.</p>
<p></p>
<p></p>
<h3>GoldVIP - 400р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Резервный слот на сервере. Вы всегда сможете зайти</p>
<p class="p0">&middot; Возможность телепортации по нику (/tp , на BackTrack /tpa ).</p>
<p class="p0">&middot; Возможность телепортации игрока к себе (/tphere , на BackTrack /tpahere ).</p>
<p class="p0">&middot; Возможность менять префикс в любое время (при помощи администратора).</p>
<p class="p0">&middot; Префикс на форуме [VIP] (по отдельной просьбе).</p>
<p class="p0">&middot; Доступ в Elite World.</p>
<p class="p0">&middot; Неограниченный приват территорий.</p>
<p class="p0">&middot; Возможность писать цветным текстом.</p>
<p class="p0">&middot; "Супер компас" (телепорт на кликнутый компасом блок или проход сквозь кликнутую компасом стену).</p>
<p class="p0">&middot; Бессмертие (/god, на BackTrack не работает).</p>
<p class="p0">&middot; Возможность спокойно перейти через границу мира и строиться там.</p>
<p></p>
<p></p>
<h3>Power Player - 100р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Резервный слот на сервере. Вы всегда сможете зайти.</p>
<p class="p0">&middot; Вохможность телепортации по нику (/tp , на BackTrack /tpa . На Gentoo не работает).</p>
<p class="p0">&middot; Префикс в игре [Power].</p>
<p class="p0">&middot; Префикс на форуме [Power] (по отдельной просьбе).</p>
<p class="p0">&middot; Возможность писать цветным текстом.</p>
<p></p>
<p></p>
<h3>Префикс - 50р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Вы получаете любой префикс к Вашему нику на сервере (пример, [Killer] Zaidik ).</p>
<p></p>
<p></p>
<h3>Игровая валюта</h3>
&nbsp;
<p class="p0">&middot; Получение игровой валюты для покупки ресурсов, торговли. 10 руб - 10000$ (Сервер Kernel).</p>
<p class="p0">&middot; Получение игровой валюты для покупки ресурсов, торговли. 10 руб - 5000$ (Сервер BackTrack).</p>
<p></p>
<p></p>
<h3>Варп - 50р | До вайпа</h3>
&nbsp;
<p class="p0">&middot; Варп - точка в мире, в которую сможет попасть любой игрок вписавший нужную команду (/warp ).</p>
<p></p>
<p></p>
<h3>Цветной ник - 50р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Покраска Вашего ника в любой цвет, который Вы укажите.</p>
<p></p>
<p></p>
<h3>Спавнер - 100-250р</h3>
&nbsp;
<p class="p0">&middot; Спавнер - блок, который создает указанного Вами моба.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h3>Способы оплаты</h3>
<p style="color:red">&middot; Используйте <a href="https://cp.elysium-game.ru/">личный кабинет</a> для оплаты необходимой Вам услуги.</p>
<p style="color:red">&middot; Если необходимой услуги Вы не нашли в личном кабинете, то обращайтесь в Skype администратора Zaidik.</p>
