<!-- <h1 id="pageCaption">Пожертвования</h1>
<h3>VIP - 200р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Резервный слот на сервере. Вы всегда сможете зайти.</p>
<p class="p0">&middot; Возможность телепортации по нику (/tp , на BackTrack /tpa ).</p>
<p class="p0">&middot; Префикс в игре [VIP].</p>
<p class="p0">&middot; Доступ в Elite World.</p>
<p class="p0">&middot; Префикс на форуме [VIP] (по отдельной просьбе).</p>
<p class="p0">&middot; 10 регионов для привата по 250000 блоков.</p>
<p class="p0">&middot; Возможность писать цветным текстом.</p>
<p></p>
<p></p>
<h3>VIP - 250р | Месяц (Сервер Gentoo)</h3>
&nbsp;
<p class="p0">&middot; Резервный слот на сервере. Вы всегда сможете зайти.</p>
<p class="p0">&middot; Возможность превращаться в какое-либо животное или моба (зомби, корова, крипер).</p>
<p class="p0">&middot; Префикс в игре [VIP].</p>
<p class="p0">&middot; Увеличенный прирост мощи при убийстве игроков.</p>
<p class="p0">&middot; Возможность приручать более 50 волков сразу!</p>
<p class="p0">&middot; Возможность стать лидером какого-либо класса сверхестественных людей.</p>
<p class="p0">&middot; Префикс на форуме [VIP] (по отдельной просьбе).</p>
<p class="p0">&middot; Возможность писать цветным текстом.</p>
<p></p>
<p></p>
<h3>GoldVIP - 400р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Резервный слот на сервере. Вы всегда сможете зайти</p>
<p class="p0">&middot; Возможность телепортации по нику (/tp , на BackTrack /tpa ).</p>
<p class="p0">&middot; Возможность телепортации игрока к себе (/tphere , на BackTrack /tpahere ).</p>
<p class="p0">&middot; Возможность менять префикс в любое время (при помощи администратора).</p>
<p class="p0">&middot; Префикс на форуме [VIP] (по отдельной просьбе).</p>
<p class="p0">&middot; Доступ в Elite World.</p>
<p class="p0">&middot; Неограниченный приват территорий.</p>
<p class="p0">&middot; Возможность писать цветным текстом.</p>
<p class="p0">&middot; "Супер компас" (телепорт на кликнутый компасом блок или проход сквозь кликнутую компасом стену).</p>
<p class="p0">&middot; Бессмертие (/god, на BackTrack не работает).</p>
<p class="p0">&middot; Возможность спокойно перейти через границу мира и строиться там.</p>
<p></p>
<p></p>
<h3>Power Player - 100р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Резервный слот на сервере. Вы всегда сможете зайти.</p>
<p class="p0">&middot; Вохможность телепортации по нику (/tp , на BackTrack /tpa . На Gentoo не работает).</p>
<p class="p0">&middot; Префикс в игре [Power].</p>
<p class="p0">&middot; Префикс на форуме [Power] (по отдельной просьбе).</p>
<p class="p0">&middot; Возможность писать цветным текстом.</p>
<p></p>
<p></p>
<h3>Префикс - 50р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Вы получаете любой префикс к Вашему нику на сервере (пример, [Killer] Zaidik ).</p>
<p></p>
<p></p>
<h3>Игровая валюта</h3>
&nbsp;
<p class="p0">&middot; Получение игровой валюты для покупки ресурсов, торговли. 10 руб - 10000$ (Сервер Kernel).</p>
<p class="p0">&middot; Получение игровой валюты для покупки ресурсов, торговли. 10 руб - 5000$ (Сервер BackTrack).</p>
<p></p>
<p></p>
<h3>Варп - 50р | До вайпа</h3>
&nbsp;
<p class="p0">&middot; Варп - точка в мире, в которую сможет попасть любой игрок вписавший нужную команду (/warp ).</p>
<p></p>
<p></p>
<h3>Цветной ник - 50р | Месяц</h3>
&nbsp;
<p class="p0">&middot; Покраска Вашего ника в любой цвет, который Вы укажете.</p>
<p></p>
<p></p>
<h3>Спавнер - 100-250р</h3>
&nbsp;
<p class="p0">&middot; Спавнер - блок, который создает указанного Вами моба.</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h3>Способы оплаты</h3>
<p style="color:red">&middot; Используйте <a href="/lk">личный кабинет</a> для оплаты необходимой Вам услуги.</p>
 -->
<h1 id="pageCaption">Донат</h1>
<p style="color: red; margin: 5px;">Актуальный курс: 1 руб. = <?=$rubCost;?> izum</p>
<? if ($clogin && $user->info['group'] >= 100) { ?>
	<p>Ваш баланс: <?=$izum;?> izum</p>
	<form id="izumform" method="POST" action="/payment">
		<input type="hidden" name="izum" value="1">
		<label>Сколько вам насыпать?</label>
		<input type="text" name="want" value="100" autocomplete="off">
		<button>Купить Izum</button>
	</form>
	<span style="color:red"><b>Внимание!</b> Данная фича находится в разработке! До тех пор, пока она не будет полностью допилена, мы не ручаемся за то, что вам обязательно будет начислен купленный Изюм. Если при покупке произошла ошибка, свяжитесь с нами <a href="mailto:support@elysiumgame.ru?subject=Проблемы%20с%20покупкой%20изюма&body=Мой%20ник%20<?=$clogin;?>. Моя%20проблема:%20">по электронной почте</a></span>
<? } ?>
<p style="color: red; margin: 5px 0;"><b>Внимание!</b> Следующие товары можно купить <b>только</b> за izum, эквивалент в рублях приведен для удобства оценки актуальной цены товара</p>
<form method="POST" action="/payment">
	<input type="hidden" name="goods" value="1">
	<table id="donutTable">
		<tr class="caption">
			<th rowspan="2">Купить</th>
			<th rowspan="2">Название товара</th>
			<th colspan="2">Стоимость</th>
			<th rowspan="2">Описание</th>
		</tr>
		<tr class="caption">
			<th>izum</th>
			<th>руб</th>
		</tr>
	<?
	foreach ($donuts as $groupName => $group) {
		echo '<tr class="group"><th colspan="5">' . $groupName . '</th></tr>';

		foreach ($group as $donut) {
		if ($donut['id'] == 10000 || TRUE) $dis = '';
		else $dis = 'disabled';
	?>
		<tr class="item" <? if ($dis) echo 'style="opacity: 0.3;"'; ?>>
			<td>
			<? if ($clogin) { ?>
				<input type="checkbox" name="donut[<?=$donut['id'];?>]" <?=$dis;?>>
			<? } else echo '<span style="color: lightgrey">Недоступно</span>' ?>
			</td>
			<td><?=$donut['name'];?></td>
			<td style="color: red;"><?=number_format($donut['cost'], 0, ',', ' ');?></td>
			<td><?=number_format($donut['cost'] / $rubCost, 2, ',', ' ');?></td>
			<td><?=$donut['desc'];?></td>
		</tr>
	<?
		}
	}
	?>
	</table>
	<? if ($clogin) { ?>
		<input type="submit" value="Купить">
	<? } ?>
</form>