<?
if (!$_POST) {
?>
<h1 id="pageCaption">Личный кабинет</h1>
<table class="lk">
	<tr>
		<th class="head">Ваша электропочта</th>
		<td class="input"><?=$user['email']?></td>
		<td class="action"></td>
	</tr>
	<tr>
		<th class="head">Ваш никнейм</th>
		<td class="input"><?=$user['nick']?></td>
		<td class="action"></td>
	</tr>
	<tr>
		<th class="head">Ваше имя в MineCraft`е</th>
		<td class="input"><?=$user['mcName']?></td>
		<td class="action"></td>
	</tr>
	<tr>
		<th class="head">Ваш уровень аккаунта</th>
		<td class="input">
			<div class="level"><?=$user['level']?></div>
			<div class="exp">
				<?=$user['signature']?>
				<div class="expBarEmpty"></div>
				<div class="expBarFull" style="width: <?=(int)$user['percent']*2?>px"></div>
			</div>
		</td>
		<td class="action"></td>
	</tr>
</table>
<hr>
<table class="lk">
	<tr>
		<th class="head">А вот пароль мы вам не покажем хЪ</th>
		<td class="input">
			<form action="/auth?action=changepw" method="POST" id="changePw">
				<input type="password" name="oldpw" placeholder="Введите старый пароль"><br/>
				<input type="password" name="newpw" placeholder="Введите новый пароль">
				<input type="password" name="repw" placeholder="Повторите новый пароль">
			</form>
		</td>
		<td class="action"><button id="changePass">Сменить</button></td>
	</tr>
	<tr>
		<th class="head">Привязанный пользователь Steam</th>
		<? if (!$profile) { ?>
		<td class="input">
			<script src="//ulogin.ru/js/ulogin.js"></script>
			<div id="uLogin" data-ulogin="display=panel;fields=uid;providers=steam;hidden=;redirect_uri=http%3A%2F%2F<?=$_SERVER['HTTP_HOST']?>%2Fauth%3Faction%3Dsteambind"></div>
		</td>
		<td class="action"></td>
		<? } else { ?>
		<td class="input"><img src="<?=$user['avatar']?>"> <a href="<?=$user['steamURL']?>"><?=$user['steamName']?></a></td>
		<td class="action">
			<form action="/auth?action=steambind" method="POST">
				<input type="hidden" name="unbindID" value="<?=$user['steamID']?>">
				<input type="submit" name="unbindSteam" value="Отвязать">
			</form>
		</td>
		<? } ?>
	</tr>
	<tr>
		<th class="head">Пригласивший вас человек</th>
		<td class="input"><?=$user['referrer']?></td>
		<td class="action"></td>
	</tr>
</table>
<h3>Ваши достижения:</h3>
<div>
	<? foreach ($user['achievements'] as $achievement) { ?>
	<div class="achievement">
		<span class="achTitle"><?=$achievement['name']?></span>
		<span class="achDate"><?=$achievement['ts']?></span>
		<span class="achDesc"><?=$achievement['desc']?></span>
	</div>
	<? } ?>
	<div><a href="/achievements">Посмотреть все достижения</a></div>
</div>
<?
} else {
?>
<h4><?=$message?></h4>
<span>Страница будет перезагружена, если этого не произошло, ткните <a href="/lk">сюда</a></span>
<meta http-equiv="refresh" content="3; url=/">
<?
}
?>