<?
if (!$_POST) {
// Без поста грузим ЛК
?>
<h1 id="pageCaption">Личный кабинет</h1>

<table class="lk">
	<tr>
		<th class="head">Ваша электропочта</th>
		<td class="input"><?=$info['email']?></td>
		<th class="balance">Ваш баланс:</th>
	</tr>
	<tr>
		<th class="head">Ваш никнейм</th>
		<td class="input"><?=$info['nick']?></td>
		<td class="balance"><?=$info['izum']?> izum</td>
	</tr>
	<tr>
		<th class="head">Ваше имя в MineCraft`е</th>
		<td class="input"><?=$info['mcName']?></td>
		<td class="balance"><a href="/payment">MOAR IZUM!!!</a></td>
	</tr>
	<tr>
		<th class="head">Ваш уровень аккаунта</th>
		<td class="input" style="min-width: 240px;">
			<?=$info['levelInfo']?>
		</td>
		<td class="action"></td>
	</tr>
	<!-- Приглашеньки =) -->
	<tr>
		<th class="head">Ваша реферральная ссылка</th>
		<td class="input">
			<input type="text" id="refLink" value="<?=$info['referral']?>" readonly size="50"></td>
		<td class="action">
			<button id="refer" data-link="<?=$info['referral']?>">Пригласить друга</button>
			<div class="modal" id="referralForm">
				<h2>Отправить приглашение по электронной почте</h2>
				<form method="POST" action="/mail?action=refer">
					<input type="hidden" name="user" value="<?=$cid?>">
					<input type="hidden" name="from" value="<?=$info['email']?>">
					<input type="hidden" name="subject" value="Вас приглашают на портал Elysium Game">
					<input type="hidden" name="link" value="<?=$info['referral']?>">
					<div>
						<label>Кому: </label>
						<input type="text" name="email" placeholder="e-Mail">
					</div>
					<div>
						<label>Тема: </label>
						<span>Вас приглашают на портал Elysium Game</span>
					</div>
					<label>Текст сообщения: </label><br/>
					<div id="messageContainer">
						<span>
							Привет, <input type="text" name="name" placeholder="Имя друга">, хочу пригласить тебя зарегистрироваться на портале Elysium Game в качестве моего друга, подумай хорошенько, ведь за это и ты тоже получишь ништяки ;)<br/>
							<a href="<?=$info['referral']?>">Вот ссылка на регистрацию по моему приглашению</a><br/>
						</span>
						<textarea id="referralMessage" name="message">Введите сюда свое сообщение</textarea>
						С уважением, <input type="text" name="me" placeholder="Как представиться?">.
					</div>
					<input type="submit" value="Отправить приглашение">
				</form>
			</div>
		</td>
	</tr>
</table>

<hr>

<table class="lk">
	<tr>
		<th class="head">А вот пароль мы вам не покажем хЪ</th>
		<td class="input">
			<form action="/auth?action=changepw" method="POST" id="changePw">
				<input type="password" name="oldpw" placeholder="Введите старый пароль"><br/>
				<input type="password" name="newpw" placeholder="Введите новый пароль">
				<input type="password" name="repw" placeholder="Повторите новый пароль">
			</form>
		</td>
		<td class="action"><button id="changePass">Сменить</button></td>
	</tr>
	<tr>
		<th class="head">Привязанный пользователь Steam</th>

		<? if (!isset($info['steamURL'])) { ?>
		<td class="input">
			<!-- Форма логина от uLogin если не привязан Steam -->
			<script src="//ulogin.ru/js/ulogin.js"></script>
			<div id="uLogin" data-ulogin="display=panel;fields=uid;providers=steam;hidden=;redirect_uri=http%3A%2F%2F<?=$_SERVER['HTTP_HOST']?>%2Fauth%3Faction%3Dsteambind"></div>
		</td>
		<td class="action"></td>

		<? } else { ?>
		<!-- Инфа о Steam-аккаунте: аватарка, ссылка и ник -->
		<td class="input"><img src="<?=$info['avatar']?>"> <a href="<?=$info['steamURL']?>"><?=$info['steamName']?></a></td>
		<td class="action">
			<form action="/auth?action=steambind" method="POST">
				<input type="hidden" name="unbindID" value="<?=$info['steamID']?>">
				<input type="submit" name="unbindSteam" value="Отвязать">
			</form>
		</td>
		<? } ?>
	</tr>
	<tr>
		<th class="head">Пригласивший вас человек</th>
		<td class="input"><?=$info['referrer']['nick']?></td>
		<td class="action"></td>
	</tr>

	<form action="/auth?action=privacy" method="POST">
		<tr>
			<th class="head">Видимость</th>
			<td class="input">
				<div id="allPrivacy">
					<? foreach ($info['privacy'] as $who => $access) {
						echo '<div id="friendsPrivacy"><span class="privacyTitle">' . $translate[$who] . '</span>';
							foreach ($access as $what => $val) {
								$check = $val ? 'checked' : '';
								echo '<input name="' . $who . '_' . $what . '" type="checkbox" ' . $check . '><label>' . $translate[$what] . '</label><br/>';
							}
						echo '</div>';
					} ?>
			</td>
			<td class="action">
				<input type="submit" value="Сохранить">
			</td>
		</tr>
	</form>
</table>

<h3>Ваши достижения (5 последних плюс только что полученные):</h3>
<div id="achList">

	<?=$info['achievements']?>
	<div><a href="/achievements">Посмотреть все достижения</a></div>
</div>
<?

} else {
// С постом выводим сообщение и ставим редирект
?>
<h4><?=$message?></h4>
<span>Страница будет перезагружена, если этого не произошло, ткните <a href="/lk">сюда</a></span>
<meta http-equiv="refresh" content="3; url=/">
<?
}
?>