<h1 id="pageCaption">Личный кабинет</h1>

<ul class="tabs">
	<li class="summary">Общая информация</li>
	<li class="orders">Заказы</li>
	<li class="coupons">Купоны</li>
	<li class="achieves">Достижения</li>
	<li class="pw">Сбросить пароль</li>
	<li class="visibility">Настроить видимость</li>
</ul>

<table class="lk tabContent summary">
	<tr>
		<th class="head">Ваша электропочта</th>
		<td class="input"><?=$info['email']?></td>
		<th class="balance">Ваш баланс:</th>
	</tr>
	<tr>
		<th class="head">Ваш никнейм</th>
		<td class="input"><?=$nick?></td>
		<td class="balance"><?=$info['izum']?> izum</td>
	</tr>
	<tr>
		<th class="head">Ваше имя в MineCraft`е</th>
		<td class="input mcnick"><?=$mcnick?></td>
		<td class="balance"><a href="/donate">Купить или потратить</a></td>
	</tr>
	<form method="POST">
	<tr>
		<th class="head">Цвет ника</th>
		<td class="input">
			<?
			if ($info['allowNameColor']) echo '
				<input type="hidden" value="' . $info['nameColor'] . '" name="nameColor">
				<div class="palitre">
					<div class="name color" data-color="0" data-name="black" title="&0"></div>
					<div class="name color" data-color="1" data-name="darkblue" title="&1"></div>
					<div class="name color" data-color="2" data-name="darkgreen" title="&2"></div>
					<div class="name color" data-color="3" data-name="teal" title="&3"></div>
					<div class="name color" data-color="4" data-name="darkred" title="&4"></div>
					<div class="name color" data-color="5" data-name="purple" title="&5"></div>
					<div class="name color" data-color="6" data-name="gold" title="&6"></div>
					<div class="name color" data-color="7" data-name="gray" title="&7"></div>
					<div class="name color" data-color="8" data-name="darkgray" title="&8"></div>
					<div class="name color" data-color="9" data-name="blue" title="&9"></div>
					<div class="name color" data-color="a" data-name="brightgreen" title="&a"></div>
					<div class="name color" data-color="b" data-name="aqua" title="&b"></div>
					<div class="name color" data-color="c" data-name="red" title="&c"></div>
					<div class="name color" data-color="d" data-name="pink" title="&d"></div>
					<div class="name color" data-color="e" data-name="yellow" title="&e"></div>
					<div class="name color" data-color="f" data-name="white" title="&f"></div>
				</div>
			';
			else echo '<span style="color: red">Недоступен</span> <a href="/donate">Купить</a>';
			?>
		</td>
		<td class="balance"></td>
	</tr>
	<tr>
		<th class="head">Персональный префикс</th>
		<td class="input">
			<div class="groupPrefix" style="display: none"><?=$info['groupPrefix'];?></div>
			<?
			if ($info['allowPrefix']) echo $info['prefix'] . ' 
				<input type="button" id="changePrefix" value="Изменить">
				<div id="prefixConstructor">
						<input type="text" name="prefix" value="' . $info['prefix'] . '" autocomplete="off" size="40" maxlength="42">
					<div class="palitre">
						<div class="prefix color" data-color="0" data-name="black" title="&0"></div>
						<div class="prefix color" data-color="1" data-name="darkblue" title="&1"></div>
						<div class="prefix color" data-color="2" data-name="darkgreen" title="&2"></div>
						<div class="prefix color" data-color="3" data-name="teal" title="&3"></div>
						<div class="prefix color" data-color="4" data-name="darkred" title="&4"></div>
						<div class="prefix color" data-color="5" data-name="purple" title="&5"></div>
						<div class="prefix color" data-color="6" data-name="gold" title="&6"></div>
						<div class="prefix color" data-color="7" data-name="gray" title="&7"></div>
						<div class="prefix color" data-color="8" data-name="darkgray" title="&8"></div>
						<div class="prefix color" data-color="9" data-name="blue" title="&9"></div>
						<div class="prefix color" data-color="a" data-name="brightgreen" title="&a"></div>
						<div class="prefix color" data-color="b" data-name="aqua" title="&b"></div>
						<div class="prefix color" data-color="c" data-name="red" title="&c"></div>
						<div class="prefix color" data-color="d" data-name="pink" title="&d"></div>
						<div class="prefix color" data-color="e" data-name="yellow" title="&e"></div>
						<div class="prefix color" data-color="f" data-name="white" title="&f"></div>
					</div>
				</div>
				';
			else echo '<span style="color: red">Недоступен</span> <a href="/donate">Купить</a>';
			?>
		</td>
		<td class="balance"></td>
	</tr>
	<tr>
		<th class="head">Как это будет выглядеть</th>
		<td class="input"><div id="parsedPrefix"><div></div></div></td>
		<? if ($info['allowNameColor'] || $info['allowPrefix']) { ?>
			<td class="balance"><input type="submit" value="Сохранить" id="savePrefix"></td>
		<? } ?>
	</tr>
	</form>
	<tr>
		<th class="head"></th>
		<td class="input">Количество токенов на смену ников: <?=$info['tokens']['changename']?></td>
		<td class="balance"></td>
	</tr>
	<? if ($user->info['group'] >= 1) { ?>
	<tr>
		<th class="head"></th>
		<td class="input"><a href="/files/update/InstLaunch.exe">Скачать клиент</a></td>
		<td class="balance"></td>
	</tr>
	<? } ?>
<!-- 	<tr>
		<th class="head"></th>
		<td class="input"><a href="/download">Скачать клиент</a></td>
		<td class="balance"></td>
	</tr> -->
	<tr>
		<th class="head">Вы находитесь в группе</th>
		<td class="input"><?=$info['groupName']?></td>
		<td class="action"></td>
	</tr>
	<tr>
		<th class="head">Ваш уровень аккаунта</th>
		<td class="input" style="min-width: 240px;">
			<?=$info['levelInfo']?>
		</td>
		<td class="action"></td>
	</tr>
	<!-- Приглашеньки =) -->
	<tr>
		<th class="head">Ваша реферральная ссылка</th>
		<td class="input">
			<input type="text" id="refLink" value="<?=$info['referral']?>" readonly size="50"></td>
		<td class="action">
			<button id="refer" data-link="<?=$info['referral']?>">Пригласить друга</button>
			<div class="modal" id="referralForm">
				<h2>Отправить приглашение по электронной почте</h2>
				<form method="POST" action="/mail?action=refer">
					<input type="hidden" name="user" value="<?=$cid?>">
					<input type="hidden" name="from" value="<?=$info['email']?>">
					<input type="hidden" name="subject" value="Вас приглашают на портал Elysium Game">
					<input type="hidden" name="link" value="<?=$info['referral']?>">
					<div>
						<label>Кому: </label>
						<input type="text" name="email" placeholder="e-Mail">
					</div>
					<div>
						<label>Тема: </label>
						<span>Вас приглашают на портал Elysium Game</span>
					</div>
					<label>Текст сообщения: </label><br/>
					<div id="messageContainer">
						<span>
							Привет, <input type="text" name="name" placeholder="Имя друга">, хочу пригласить тебя зарегистрироваться на портале Elysium Game в качестве моего друга, подумай хорошенько, ведь за это и ты тоже получишь ништяки ;)<br/>
							<a href="<?=$info['referral']?>">Вот ссылка на регистрацию по моему приглашению</a><br/>
						</span>
						<textarea id="referralMessage" name="message">Введите сюда свое сообщение</textarea>
						С уважением, <input type="text" name="me" placeholder="Как представиться?">.
					</div>
					<input type="submit" value="Отправить приглашение">
				</form>
			</div>
		</td>
	</tr>
	<tr>
		<th class="head">Привязанный пользователь Steam</th>

		<? if (!isset($info['steamURL'])) { ?>
		<td class="input">
			<!-- Форма логина от uLogin если не привязан Steam -->
			<script src="//ulogin.ru/js/ulogin.js"></script>
			<div id="uLogin" data-ulogin="display=panel;fields=uid;providers=steam;hidden=;redirect_uri=http%3A%2F%2F<?=$_SERVER['HTTP_HOST']?>%2Fauth%3Faction%3Dsteambind"></div>
		</td>
		<td class="action"></td>

		<? } else { ?>
		<!-- Инфа о Steam-аккаунте: аватарка, ссылка и ник -->
		<td class="input"><img src="<?=$info['avatar']?>"> <a href="<?=$info['steamURL']?>"><?=$info['steamName']?></a></td>
		<td class="action">
			<form action="/auth?action=steambind" method="POST">
				<input type="hidden" name="unbindID" value="<?=$info['steamID']?>">
				<input type="submit" name="unbindSteam" value="Отвязать">
			</form>
		</td>
		<? } ?>
	</tr>
	<tr>
		<th class="head">Пригласивший вас человек</th>
		<td class="input"><?=$info['referrer']['nick']?></td>
		<td class="action"></td>
	</tr>
</table>

<table class="lk">
	<tr class="tabContent pw">
		<th class="head">А вот пароль мы вам не покажем хЪ</th>
		<td class="input">
			<form action="/auth?action=changepw" method="POST" id="changePw">
				<input type="password" name="oldpw" placeholder="Введите старый пароль"><br/>
				<input type="password" name="newpw" placeholder="Введите новый пароль">
				<input type="password" name="repw" placeholder="Повторите новый пароль">
			</form>
		</td>
		<td class="action"><button id="changePass">Сменить</button></td>
	</tr>

	<p style="color: red; margin: 5px 0;"><b>Внимание!</b> Если вы не поставите ни единой галочки, вас не будет видно в списке пользователей.</p>
	<form action="/auth?action=privacy" method="POST">
		<tr class="tabContent visibility">
			<th class="head">Видимость</th>
			<td class="input">
				<div id="allPrivacy">
					<? foreach ($info['privacy'] as $who => $access) {
						echo '<div id="friendsPrivacy"><span class="privacyTitle">' . $translate[$who] . '</span>';
							foreach ($access as $what => $val) {
								$check = $val ? 'checked' : '';
								echo '<input name="' . $who . '_' . $what . '" type="checkbox" ' . $check . '><label>' . $translate[$what] . '</label><br/>';
							}
						echo '</div>';
					} ?>
			</td>
			<td class="action">
				<input type="submit" value="Сохранить">
			</td>
		</tr>
	</form>
</table>

<div class="tabContent orders">
	<h3>Покупки изюма:</h3>
	<table class="orderList">
		<tr>
			<th class="orderID">Номер заказа</th>
			<th class="orderDate">Дата заказа</th>
			<th class="orderIzum">Количество изюма</th>
			<th class="orderCost">Сумма к оплате (руб)</th>
			<th class="orderStatus">Статус</th>
			<th class="orderAction">Действие</th>
		</tr>
		<? foreach ($orders as $order) {
			echo '
				<tr>
					<td class="orderID">' . $order['id'] . '</td>
					<td>' . $order['date'] . '</td>
					<td>' . $order['togrant'] . '</td>
					<td>' . number_format($order['topay'], 2, '.', '') . '</td>
					<td>' . $statusList[ $order['paid'] ] . '</td>
					<td>';
			if ($order['paid'] == 0) {
				$signature = roboSignature(array("Elysium", $order['topay'], $order['id']), 'pay');
				echo '
						<form action="/payfail" method="POST">
							<input type="hidden" name="InvId" value="' . $order['id'] . '">
							<input type="hidden" name="OutSum" value="' . $order['topay'] . '">
							<input type="hidden" name="Culture" value="ru">
							<input type="submit" value="Отказаться">
						</form>
						<form action="https://merchant.roboxchange.com/Index.aspx" method="POST">
							<input type="hidden" name="MerchantLogin" value="Elysium">
							<input type="hidden" name="OutSum" value="' . $order['topay'] . '">
							<input type="hidden" name="InvId" value="' . $order['id'] . '">
							<input type="hidden" name="Desc" value="Покупка ' . $order['togrant'] . ' izum">
							<input type="hidden" name="SignatureValue" value="' . $signature . '">
							<input type="hidden" name="Culture" value="ru">
							<input type="submit" value="Подтвердить">
						</form>';
			}
			echo '
					</td>
				</tr>';
		} ?>
	</table>
</div>

<div class="tabContent coupons">
	<table class="orderList">
		<tr>
			<th>Купон</th>
			<th>Скидка, %</th>
			<th>Количество</th>
		</tr>
		<?
		foreach ($info['coupons'] as $name => $coupon) {
			foreach ($coupon as $effect => $params) {
				echo '
					<tr>
						<td>' . $params['ruName'] . '</td>
						<td>' . $effect . '</td>
						<td>' . $params['count'] . '</td>
					</tr>';
			}
		}
		?>
	</table>
</div>

<div class="tabContent achieves">
	<h3>Ваши достижения (5 последних плюс только что полученные):</h3>
	<div id="achList">

		<?=$info['achievements']?>
		<div><a href="/achievements">Посмотреть все достижения</a></div>
	</div>
</div>