<!DOCTYPE html>
<head>
<title>Elysium Game | Портал игровых серверов Minecraft</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="game, mine, minecraft, elysium, майнкрафт, майн, сервер, сервера, лучший" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!--[if lt IE 7]>
	<script type="text/javascript" src="js/ie_png.js"></script>
	<script type="text/javascript">
		 ie_png.fix('.png, #header .row-2 ul li a, #content, .list li');
	</script>
<![endif]-->
</head>

<!-- В жопу эту метрику -->

<!-- Yandex.Metrika counter
<script type="text/javascript">
	(function (d, w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter16123105 = new Ya.Metrika({id:16123105, enableAll: true, webvisor:true});
	        } catch(e) {}
	    });
	    
	    var n = d.getElementsByTagName("script")[0],
	        s = d.createElement("script"),
	        f = function () { n.parentNode.insertBefore(s, n); };
	    s.type = "text/javascript";
	    s.async = true;
	    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

	    if (w.opera == "[object Opera]") {
	        d.addEventListener("DOMContentLoaded", f);
	    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/16123105" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 /Yandex.Metrika counter -->

<!-- Панель статусов, в стилях прописан display: none; -->
<div id="nav"> 
	<ul class="servers">
		<li class="kernel">
			<b>Kernel[Classic]</b>
			<br><text class="status">Pinging...</text>
			<div class="online">Если бы сервер был онлайн, тут бы показывались игроки</div>
		</li>
		<li class="backtrack">
			<b>BackTrack[IC2+RP2]</b>
			<br><text class="status">Pinging...</text>
			<div class="online">Если бы сервер был онлайн, тут бы показывались игроки</div>
		</li>
		<li class="gentoo">
			<b>Gentoo[FullPVP]</b>
			<br><text class="status">Pinging...</text>
			<div class="online">Если бы сервер был онлайн, тут бы показывались игроки</div>
		</li>
		<li class="ratings">
			Голосовалки
			<div class="ratebanners">
				<div><div id="w2v_vote_banner" rel="8452"></div></div>
				<div><a href="http://fairtop.ru/project/323" target="_blank"><img src="http://fairtop.ru/counter/4/323"></a></div>
				<div><a href="http://topcraft.ru/servers/3322" target="_blank"><img src="http://topcraft.ru/ban_img/3322" alt="TopCraft"></a></div>
				<!-- <div><a href="http://mcrate.su/rate/4706" target="_blank"><img src="http://mcrate.su/banner/2/4706"></a></div> -->
				<div><a href="http://mctop.im/vote/53" target="_blank"><img src="http://mctop.im/static/banners/6.png"/></a></div>
			</div>
		</li>
		<li class="authLI">
			<!-- Логин-панель -->
			<div id="authPanel">
				<? if ($clogin != '') { ?>
					<a href="/lk">Личный&nbsp;Kабинет</a>&nbsp;
					<span class="logged"><?=$clogin?>&nbsp;</span>
					<a href="/auth?action=off&hash=<?=session_id();?>">Выйти</a>
				<? } else { ?>
					<a href="/auth?action=reg">Регистрация</a>&nbsp;&nbsp;
					<a href="/auth?action=log">Авторизация</a>
				<? } ?>
			</div>
		</li>
	</ul>
</div>
<!-- / Панель статусов -->

<!-- Основной блок -->
<body>
	<div id="vkSlider" class="closed">
		<div class="vkHead">
			<img src="/images/vk_logo.png">
			<div id="vkTitle">Наша группа <img src="/images/white_arrow.png" id="vkArrow"></div>
		</div>
		<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>
		<!-- VK Widget -->
		<div id="vk_groups"></div>
		<script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 0, width: "290", height: "330"}, 34954874);</script>
	</div>
	<div id="shadow"></div>
	<div id="popupAch"></div>
	<div id="banlist" class="modal">
		<h3>Список Банов</h3>
		<p style="color:gray">(разбаненные игроки здесь не отображаются)</p>
		<table width="100%">
		</table>
	</div>
	<div id="aboutBonuses" class="modal">
		<h3>Получение бонусов за покупку Изюма</h3>
		<p>
			Бонусы начисляются за покупку Изюма в количестве, превышающем 100 000.
			Процентная ставка бонусов рассчитывается по формуле:
			<img src="/images/bonus.png"><br/>
			Таким образом, предел бонуса составляет 3/10 = 33.33(3)%<br/>
			С учетом ограничения на количество покупаемого Изюма, максимальный возможный бонус составляет 29%
		</p>
		</table>
	</div>
	<div style='display:none'>
		<img src='/images/x.png' alt='' />
	</div>

	<!-- Шапка -->
	<div id="headBG">
		<div id="header">
			<div class="extra"><img src="/images/header-img.png" height="250" /></div>
			<div class="row-1">

			</div>

			<!-- Главная менюшка -->
			<div class="row-2">
				<ul class="menu">
					<li><a href="/">Главная</a></li>
					<li>
						<span>&equiv; Информация</span>
						<ul class="submenu">
							<li><a href="/help">Помощь и FAQ</a></li>
							<li><a href="/rules">Правила</a></li>
							<li><a href="/users">Пользователи</a></li>
							<li><a href="/topvote">Топ голосующих</a></li>
							<li><a href="/achievements">Ачивки</a></li>
						</ul>
					<li><a href="/donate">Донат</a></li>
					<li><a href="http://forum.elysiumgame.ru" target="blank">Форум</a></li>
					<li><a href="/contact">Контакты</a></li>
					<li id="banlist-button"><a href="">Банлист</a></li>
				</ul>
			</div>

			<div class="row-3"><span id="slogan">Elysium Game. Лучший среди лучших</span></div>
		</div>
	</div>
	<!-- / Шапка -->

	<!-- Центральный блок -->
	<div id="content">
		<div class="inner_copy"></div>
		<div class="tail-right">
			<div class="wrapper">
				<?
				if($_SERVER['REQUEST_URI'] == '/false') { // На страницах ЛК и оплаты вырубаем колонку с соцсетями
				?>
				<!-- Левый столбец, основной контент -->
				<div class="col-1">
					<div class="indent">
						<div class="indent1">
							<?
							INCLUDE("template/$module.html"); // Подгружаем макет модуля, переменная определяется по URI в файле index.php
							?>
						</div>
					</div>
				</div>
				<!-- Правый столбец, ссылки -->
				<div class="col-2">
					<img src="/images/vk.png">
				</div>
				<?
				} else { // Ну, соответственно, стиль без второй колонки для ЛК и страницы оплаты.
				?>
				<div class="nocol">
					<?INCLUDE("template/$module.html");?>
				</div>
				<? } ?>
			</div>
		</div>
	</div>
	<!-- / Центральный блок -->

	<!-- Нижний блок -->
	<!-- <script type='text/javascript' src='js/ban.js'></script>
	<script type='text/javascript' src='js/banb.js'></script> Хер его знает, зачем это надо -->
	<? if ($diamond && isset($cid)) { ?>
		<div class="extra"><img src="/images/zomb.png" alt="" class="herobrine" /><div class="diamond"></div></div>
	<? } else if (!isset($cid)) { ?>
		<div class="extra"><img src="/images/zomb.png" alt="" class="herobrine" /></div>
	<? } else { ?>
		<div class="extra"><img src="/images/zomb_nodiamond.png" alt="" class="herobrine" /></div>
	<? } ?>
	<!-- / Нижний блок -->

	<!-- Подвал -->
	<div id="footBG">
		<div id="footer">
			<ul class="menu">
				<li><a href="/">Главная</a></li>
				<li><a href="/help">Помощь и FAQ</a></li>
				<li><a href="/rules">Правила</a></li>
				<li><a href="/users">Пользователи</a></li>
				<li><a href="/achievements">Ачивки</a></li>
				<li><a href="/donate">Донат</a></li>
				<li><a href="http://forum.elysiumgame.ru" target="blank">Форум</a></li>
				<li><a href="/contact">Контакты</a></li>
			</ul>
			<div class="indent">
				<div class="fleft">Полное или частичное копирование запрещено.</div>
				<div class="fright">Elysium Game | 2011-<?=date('Y', time())?>&nbsp;&nbsp;
					<!--LiveInternet counter--><script type="text/javascript"><!--
					document.write("<a href='//www.liveinternet.ru/click' "+
					"target=_blank><img src='//counter.yadro.ru/hit?t11.12;r"+
					escape(document.referrer)+((typeof(screen)=="undefined")?"":
					";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
					screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
					";"+Math.random()+
					"' alt='' title='LiveInternet: показано число просмотров за 24"+
					" часа, посетителей за 24 часа и за сегодня' "+
					"border='0' width='88' height='31'><\/a>")
					//--></script><!--/LiveInternet-->
				</div>
			</div>
		</div>
	</div>
	<!-- / Подвал -->

</body>
</html>