<!DOCTYPE html>
<head>
<title>Elysium Game | Портал игровых серверов Minecraft</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="game, mine, minecraft, elysium, майнкрафт, майн, сервер, сервера, лучший" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link type='text/css' href='css/basic.css' rel='stylesheet' media='screen' />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<link href='http://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic,latin' rel='stylesheet' type='text/css'></link>
<!--[if lt IE 7]>
	<script type="text/javascript" src="js/ie_png.js"></script>
	<script type="text/javascript">
		 ie_png.fix('.png, #header .row-2 ul li a, #content, .list li');
	</script>
<![endif]-->
</head>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter16123105 = new Ya.Metrika({id:16123105, enableAll: true, webvisor:true});
	        } catch(e) {}
	    });
	    
	    var n = d.getElementsByTagName("script")[0],
	        s = d.createElement("script"),
	        f = function () { n.parentNode.insertBefore(s, n); };
	    s.type = "text/javascript";
	    s.async = true;
	    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

	    if (w.opera == "[object Opera]") {
	        d.addEventListener("DOMContentLoaded", f);
	    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/16123105" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Панель статусов -->
<div id="nav"> 
	<ul>
		<li>
			<b>Kernel[Classic]</b>
			<? 
			if($kernel[2]) {
				echo '<br><text style="color:darkgreen">: '.$kernel[1].'/'.$kernel[2].'</text>';
			} else
				echo '<br><text style="color:darkred"></text></br>';
			?>
		</li>
  	<li>
			<b>BackTrack[IC2+RP2]</b>
			<?
			if($backtrack[2]){    
				echo '<br><text style="color:darkgreen">: '.$backtrack[1].'/'.$backtrack[2].'</text></br>';
			} else
				echo '<br><text style="color:darkred"></text></br>';
			?>
		</li>
		<li>
			<b>Gentoo[FullPVP]</b>
			<?
				if($gentoo[2]){    
					echo '<br><text style="color:darkgreen">: '.$gentoo[1].'/'.$gentoo[2].'</text></br>';
				} else
					echo '<br><text style="color:darkred"></text></br>';
			?>
		</li>
		<li class="banner">
			<!--LiveInternet counter-->
			<script type="text/javascript"><!--
				document.write("<a href='http://www.liveinternet.ru/click' "+
				"target=_blank><img src='//counter.yadro.ru/hit?t14.1;r"+
				escape(document.referrer)+((typeof(screen)=="undefined")?"":
				";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
				screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
				";"+Math.random()+
				"' alt='' title='"+
				" ' "+
				"border='0' width='88' height='31'><\/a>")
			//--></script>
			<!--/LiveInternet--> 
		</li>
		<li class="banner"><a href="http://mctop.su/rating/vote/airbreaker" style="border: 0;"><img src="http://mctop.su/counter/p4587" /></a></li>
		<li class="banner"><a href="http://www.want2vote.com/info.php?id=1104" style="border: 0;"><img src="http://w2v.biz/_status/pictures/status_votebanner/1104.jpg"></a></li>
	</ul>
</div>
<!-- / Панель статусов -->

<!-- Основной блок -->
<body>
<div id="shadow"></div>
<div id="basic-modal-content">
	<center><h3>Список Банов</h3></center>
	<script type="text/javascript">
		(function($) {
			$.fn.textDropShadow = function(ShdwClass){
				$(this).css('position','relative').html('<span class='+ShdwClass+'>'+$(this).html()+'</span><span style="position:relative;">'+$(this).html()+'</span>');
				return $(this);
			}
		})(jQuery);
	</script>
	<h2 class="shadowed header"></h2>
	<center><p style="color:gray">(разбаненные игроки здесь не отображаются)</p></center>
</div>
<div style='display:none'>
	<img src='images/x.png' alt='' />
</div>
	<div class="tail-top">
		<div class="tail-bottom">
			<div class="body-bg">

				<!-- Шапка -->
				<div id="header">
					<div class="extra"><img src="images/header-img.png" alt="" /></div>
					<div class="row-1">
						<div id="authPanel">
							<? if ($clogin != '') { ?>
								<span>Вы вошли как <?=$clogin?></span><br/>
								<a href="lk">Личный кабинет</a><br/>
								<a href="auth?action=off">Выйти</a>
							<? } else { ?>
								<a href="auth?action=reg">Регистрация</a><br/>
								<a href="auth?action=log">Авторизация</a>
							<? } ?>
						</div>
					</div>
					<div class="row-2">
						<ul>
							<li class="m1"><a href="/">Главная</a></li>
							<li class="m2"><a href="/play">Играть</a></li>
							<li class="m3"><a href="http://elysium-game.ru/forum/">Форум</a></li>
							<li class="m4"><a href="/rules">Правила</a></li>
							<li class="m5" id="banlist"><a href="">Банлист</a></li>
							<li class="m6"><a href="/donate">Донат</a></li>
						</ul>
					</div>
					<div class="row-3"><img src="images/slogan.png" alt="" /></div>
				</div>
				<!-- / Шапка -->

				<!-- Центральный блок -->
				<div id="content">
					<div class="inner_copy"></div>
					<div class="tail-right">
						<div class="wrapper">
							<? if($_SERVER['REQUEST_URI'] != '/lk') { ?>
							<!-- Левый столбец, основной контент -->
							<div class="col-1">
								<div class="indent">
									<div class="indent1">
										<?INCLUDE("template/$module.html");?>
									</div>	
								</div>
							</div>
							<!-- Правый столбец, ссылки -->
							<div class="col-2">
								<!-- <img src="images/ts.png"> -->
								<!-- Team Speak 3 код -->
								<!-- <div id="ts3viewer_997174" style="width:; background-color:;"> </div>
								<script type="text/javascript" src="http://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>
								<script type="text/javascript">-->
									<!--
									var ts3v_url_1 = "http://www.tsviewer.com/ts3viewer.php?ID=997174&text=000000&text_size=12&text_family=1&js=1&text_s_weight=bold&text_s_style=normal&text_s_variant=normal&text_s_decoration=none&text_s_color_h=525284&text_s_weight_h=bold&text_s_style_h=italic&text_s_variant_h=normal&text_s_decoration_h=underline&text_i_weight=normal&text_i_style=normal&text_i_variant=normal&text_i_decoration=none&text_i_color_h=525284&text_i_weight_h=normal&text_i_style_h=normal&text_i_variant_h=normal&text_i_decoration_h=underline&text_c_weight=normal&text_c_style=normal&text_c_variant=normal&text_c_decoration=none&text_c_color_h=525284&text_c_weight_h=normal&text_c_style_h=normal&text_c_variant_h=normal&text_c_decoration_h=underline&text_u_weight=bold&text_u_style=normal&text_u_variant=normal&text_u_decoration=none&text_u_color_h=525284&text_u_weight_h=bold&text_u_style_h=normal&text_u_variant_h=normal&text_u_decoration_h=none";
									ts3v_display.init(ts3v_url_1, 997174, 100);
									-->
								<!-- </script> -->
								<!-- <img src="/images/tw.png"> -->
								<!--<script charset="utf-8" src="/js/widget.js"></script>
								<script>
									new TWTR.Widget({
										version: 2,
										type: 'profile',
										rpp: 5,
										interval: 30000,
										width: 'auto',
										height: 300,
										theme: {
											shell: {
												background: '#ffffff',
												color: '#0f0f0f'
											},
											tweets: {
												background: '#ffffff',
												color: '#000000',
												links: '#4c70c9'
											}
										},
										features: {
											scrollbar: false,
											loop: false,
											live: false,
											behavior: 'all'
										}
									}).render().setUser('ElysiumGame').start();
								</script>-->
								<img src="images/vk.png">
								<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>

								<!-- VK Widget -->
								<div id="vk_groups"></div>
								<script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 0, width: "290", height: "330"}, 34954874);</script>
							</div>
							<? } else { ?>
							<div class="nocol">
								<?INCLUDE("template/lk.html");?>
							</div>
							<? } ?>
						</div>
					</div>
				</div>
				<!-- / Центральный блок -->

				<!-- Нижний блок -->
			</div>
			<script type='text/javascript' src='js/ban.js'></script>
			<script type='text/javascript' src='js/banb.js'></script>
			<div class="extra"><img src="images/zomb.png" alt="" /></div>
			<!-- / Нижний блок -->

			<!-- Подвал -->
			<div id="footer">
				<div class="indent">
					<div class="fleft"></a>&nbsp; Полное или частичное копирование запрещено.</div>
					<div class="fright">Copyright© Elysium Game | 2011-2014</div>
				</div>
			</div>
			<!-- / Подвал -->

		</div>
	</div>
</body>
</html>