<h3>Немного радости</h3>
<p></p>
<p></p>
<p>Всем привет! Сегодня новость будет коротенькая, но объемная. Мы постараемся изложить все максимально четко и в приятной форме.</p>
<p>Во-первых, это конечно же исправление бага на серверах, который позволял удваивать количество вещей. Теперь это в прошлом и ничего больше не угрожает экономикам серверов.</p>
<p>Во-вторых, это начало постройки развлекательного комплекса на сервере BackTrack. Пусть на этом сервере и играют закаленные игроки, которые выучили все азы IC2, но они тоже, наверняка, соскучились по развлечениям. В этом комплексе будут функционировать парк, Пещера Ужаса, магазины, аттракционы и территория кулачных боев. Все это будет доступно уже через 2-3 дня.</p>
<p>Ну и в-третьих, пожалуй, самое главное, это открытие собственного Team Speak 3 сервера. Это событие должно непременно сплотить всех игроков. Теперь каждый сможет пообщаться с друзьями в комфортной обстановке. Клиент Team Speak дает меньше нагрузки на ресурсы компьютера, нежели, например, Skype. А так же, можно создать свою собственную временную комнату для приватного общения с друзьями. Да и к тому же, Вы теперь вполне свободно можете пообщаться с администрацией, задать любые вопросы и предложить свои креативные идеи.</p>
<p>На этом все, хотя получилось не совсем кратко, но зато получилось передать самое главное. Спасибо Всем, что поддерживаете нас! С&nbspУважением, команда Elysium Game.</p><p align="right">Дата: 26.07.2012</p>
<p></p>
<p></p>
<hr>
<h3>Открытие новых серверов!</h3>
<p></p>
<p></p>
<p>Дорогие игроки нашего портала! Настал этот долгожданный день - открылись новые сервера! Как мы уже писали ранее, мы специализируемся на различных серверах, поэтому, Minecraft будет не единственной игрой на нашем портале.</p>
<p>Игра Teeworld - увлекательная! Она динамичная, красиво исполнена графически и просто радует своим геймплеем. Поэтому мы выбрали именно ее! Три сервера, три уникальных режима игры, различные карты и часы увлекательных баталий - вот что ждет Вас на серверах Teeworlds от нашей команды.</p>
<p>Так как это отдельная ветка серверов, то и естественно был создан новый веб сайт, на котором размещены все материалы по данной игре. Чтобы попасть туда, необходимо нажать на кнопку в основном меню "Проекты" и выбрать "Проект Teeworlds".</p>
<p>Наряду с открытием новых серверов, так же произошел вайп на сервере BackTrack. Это позволит Вам начать новую игру с чистого листа и снова доказать всем, что Вы&nbsp - лучший! Так же были обновлены плагины и исправлены мелкие ошибки, но тех. работы по серверу будут длиться еще пару дней. В это время сервер будет работать в обычном режиме.</p>
<p>На этом все. Спасибо Всем, что остаетесь с нами! Приглашайте друзей и знакомых - играйте вместе! С&nbspУважением, команда Elysium Game.</p><p align="right">Дата: 23.07.2012</p>
<hr>
<p></p>
<p></p>
<h3>Обновление!</h3>
<p></p>
<p></p>
<p>Уважаемые игроки! Всвязи с некоторыми обстоятельствами, наш проект покинули технический администратор airbreaker и администратор _Gizmo. Команда Elysium Game желает им удачи и успехов во всех начинаниях. Затрагивая вопрос кадровых изменений, стоит отметить, что модератор SnoopAK вступил в должность старшего модератора. Поздравим его!</p>
<p>Теперь немного о технической части. Сегодня утром был недоступен сайт, форум и авторизация на серверах. Произошло это по причине смены DNS-серверов, т.е. ничего страшного не произошло. Так же, оценив состояние карты на сервере BackTrack, администрация решила сделать полный вайп. Это позволит начать игру с чистого листа и в новом прекрасном мире. Стоит отметить, что скоро будет реализована безвайповая система серверов.</p>
<p>В прошлой новости мы упоминали о новых серверах, которые должны запуститься в скором времени. Сейчас же этот проект уже находится на стадии ЗБТ, где члены администрации пытаются свести возможные сбои к минимуму. Будет организована система сайтов сообщающихся между собой, т.е. Вы сможете без всяких проблем "перенестись" из мира Minecraft в любой другой. "Другой" подразумевает другие игры.</p> 
<p>И напоследок хотим сказать, что скоро на сервере Kernel будет очень интересное нововведение, которое каждый оценит по достоинству. Ну и конечно же плагин McMMO на сервере Gentoo скоро будет радовать Вас.</p>
<p>Вот и все. О глобальных изменениях мы сообщим позже, а пока что, будем строго идти по плану. Спасибо за внимание! С&nbspУважением, команда Elysium Game.</p><p align="right">Дата: 18.07.2012</p>
<hr>
<p></p>
<p></p>
<h3>Закрытие набора в модераторы!</h3>
<p></p>
<p></p>
<p>Дорогие игроки! Администрация спешит сообщить Вам о том, что закончился набор в модераторский состав нашего проекта. Борьба была острой, кандидаты были один лучше другого, но все же мы смогли определить лучших.</p>
<p>Итак, новыми модераторами проекта Elysium Game стали игроки: MCkorpion, Krein, Karilanna и chief. Давайте все вместе поздравим их с этой победой и пожелаем удачи в будущей работе. Стоит так же отметить, что "новенькие" находятся на истытательном сроке, по окончанию которого они станут полноценными членами команды.</p>
<p>Хочется обратить Ваше внимание еще одно интересное событие. На этой неделе будет открыто несколько серверов одной очень интересной игры, ее название пока что будет засекречено, чтобы создать атмосферу загадочности.</p>
<p>На этом мы закончим свое повествование. Ждите новых новостей и не забывайте голосовать за сервер - поддержите нас! С&nbspУважением, команда Elysium Game.</p><p align="right">Дата: 17.07.2012</p>
