<h3>Как начать играть</h3>
<p class="p0">1. Внимательно прочитайте <a href="/rules">правила</a> и <a href="/description">описание</a> серверов.</p>
&nbsp;
<p class="p0">2. Зарегистрируйтесь на нашем <a href="http://elysium-game.ru/forum/">форуме</a> под ником, который Вы хотите использовать для игры на сервере.</p>
&nbsp;
<p class="p0">3. Скачайте наш <a href="http://elysium-game.ru/game/launcher.exe">клиент</a> для игры. Устанавливается он автоматически в отдельную папку.</p>
&nbsp;
<p class="p0">4. Запустив клиент, введите Ваши логин и пароль, которые Вы использовали для регистрации на форуме.</p>
&nbsp;
<p class="p0">5. Зайдите в сетевой режим игры и выберите в списке серверов тот, который Вас интересует.</p>
&nbsp;
<p class="p0">6. Приятной Вам игры и увлекательных приключений на просторах серверов Elysium Game.</p>
<p></p>
<p></p>
<p style="color:red">Любой вопрос Вы можете задать на нашем форуме, либо в скайпе у <a href="/admins">администрации.</a></p>
