<h1 id="pageCaption">Начать играть</h1>
<br/>
<p class="p0">1. Внимательно прочитайте <a href="/rules">правила</a> и <a href="/description">описание</a> серверов.</p>
&nbsp;
<p class="p0">2. Зарегистрируйтесь на нашем сайте под ником, который Вы хотите использовать для игры на сервере.</p>
&nbsp;
<p class="p0">3. Скачайте наш <a href="/files/update/InstLaunch.exe" target="blank">лаунчер</a> для игры. Устанавливается он автоматически в отдельную папку.</p>
&nbsp;
<p class="p0">4. Запустив лаунчер, введите Ваши логин и пароль, которые Вы использовали для регистрации на форуме.</p>
&nbsp;
<p class="p0">5. Выберите сервер из списка доступных и нажмите "войти".</p>
&nbsp;
<p class="p0">6. Приятной Вам игры и увлекательных приключений на просторах серверов Elysium Game.</p>