<h1 id="pageCaption">Топы голосующих</h1>

<ul class="tabs">
	<li class="alltime">За все время</li>
	<li class="monthly">За месяц</li>
	<li class="weekly">За неделю</li>
</ul>

<div class="tabContent alltime">
	<?=printTable('alltime')?>
</div>
<div class="tabContent monthly">
	<?=printTable('monthly')?>
</div>
<div class="tabContent weekly">
	<?=printTable('weekly')?>
</div>

<?

function printTable($type) {
	GLOBAL $ratings, ${'order'.$type}, $players, $$type;
	$order = ${'order'.$type};
	$votes = $$type;
	$output = '
		<table class="topVoteTable">
			<tr>
				<th rowspan="2">Место</th>
				<th rowspan="2" style="min-width:150px;">Игрок</th>
				<th rowspan="2">Голосов всего</th>
				<th colspan="5">Из них на</th>
			</tr>
			<tr>';
	$counter = 1;

	foreach ($ratings as $name) $output .= '<th>' . $name . '</th>';

	$output .= '</tr>';

	foreach ($order as $playerList) {
		$playerCount = count($playerList);

		$addTd = '<td rowspan="' . $playerCount . '">' . $counter . '</td>';

		foreach ($playerList as $k => $playerID){
			$player = $players[$playerID];
			$cpass = TRUE;

			if ($counter == 1) $trStyle = ' style="background-color: gold"';
			else if ($counter == 2) $trStyle = ' style="background-color: #ccc"';
			else if ($counter == 3) $trStyle = ' style="background-color: #FFB568"';
			else $trStyle = '';

			if ($player['group'] >= 50) {
				if ($playerCount == 1) $addTd = '<td></td>';
				else if ($k == 0) $addTd = '<td'. $trStyle . ' rowspan="' . $playerCount . '">' . $counter . '</td>';
				else $addTd = '';
				$trStyle = ' style="background-color: #FF9696;"';
				$cpass = FALSE;
			}

			$info = $votes[$playerID];
			$output .= '<tr' . $trStyle . '>' . $addTd . '<td>' . $player['nick'] . '</td><td>' . $info['votes']['summary'] . '</td>';

			foreach ($ratings as $id => $name) {

				if (isset($info['votes'][$id])) $voteCount = $info['votes'][$id];
				else $voteCount = 0;

				$output .= '<td class="' . $name . '">' . $voteCount . '</td>';
			}

			$output .= '</tr>';
			$addTd = '';
		}

		if ($cpass) $counter++;
	}

	$output .= '</table>';

	return $output;
}

?>