<h1 id="pageCaption">Топы голосующих</h1>

<ul class="tabs">
	<li class="alltime">За все время</li>
	<li class="monthly">За месяц</li>
	<li class="weekly">За неделю</li>
</ul>

<div class="tabContent alltime">
	<table class="topVoteTable">
		<tr>
			<th rowspan="2">Место</th>
			<th rowspan="2">Игрок</th>
			<th rowspan="2">Голосов всего</th>
			<th colspan="4">Из них на</th>
		</tr>
		<tr>
			<th>fairtop</th>
			<th>mctop</th>
			<th>topcraft</th>
			<th>want2vote</th>
			<!-- <th>mcrate</th> -->
		</tr>
	</table>
</div>
<div class="tabContent monthly">
</div>
<div class="tabContent weekly">
</div>
